<div style="background-color: #f5f5f5;">
    <div class="job_detail_ta" *ngIf="VN001">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a>WORKERS</div>
            <div class="content_job_ta">
                <p>- Unskilled Worker.</p>
                <p>- Sprayer Paint / Color Finishing.</p>
                <p>- Upholstery worker.</p>
                <p>- Sanding Worker.</p>
                <p>- Fitting Worker</p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="VN002">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a> INDUSTRIAL ENGINEER</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Description:</p>
                <p>
                    •	Learn product requirements and ensure that they are met. <br>
                    •	Solve production problems that arise within an organization.<br>
                    •	Develop control systems that help in analysis of costs and planning of finances.<br>
                    •	Develop cost efficient processes.<br>
                    •	Monitor the general flow of operations.<br>
                    •	Establish programs of work measurement in order to guarantee fulfillment of targets and deadlines.<br>
                    •	Determine how best to use the work force to achieve maximum productivity.<br>
                    •	Give recommendations on how to improve productivity.<br>
                    •	Communicate with the staff and management on ways of implementing plans and recommendations.<br>
                </p>
                <p class="item_bold_job">Requirements:</p>
                <p class="item_bold_job">a.) Two (2) IE with this qualifications</p>
                <p>
                    •	Bachelor Degree in Industrial Engineering or equivalent course.<br>
                    •	At least 5 years working experience in a furniture manufacturing firm.<br>
                    •	Knowledgeable in CAD and able to read and understand full-size drawing is a must.<br>
                    •	Good communication and presentation skill.<br>
                    •	Good computer understanding with knowledge of Office tools, Database systems.<br>
                    •	Analytical and Problem Solving skills.<br>
                    •	Strong oral and written English skills.<br>
                    •	Able to manage projects effectively and independently.<br>
                    •	Able to work in a team as team leader or team member.<br>
                    •	Able to effectively communicate with all levels of employees. <br>
                    •	Perform risk analysis for new products and identify Critical To Quality (CTQ) parameters for new development. <br>
                    •	Knowledgeable in Lean manufacturing is an advantage. <br>
                    •	Knowledgeable in furniture processes includes time and motion study.<br>
                </p> 
                <p class="item_bold_job">b.) Four (4) IE with qualifications </p>
                <p>
                    •	Bachelor Degree in Industrial Engineering or equivalent course.<br>
                    •	At least 3 years working experience in any field.<br>
                    •	Knowledgeable in CAD and able to read and understand full-size drawing is a must.<br>
                    •	Good communication and presentation skill.<br>
                    •	Good computer understanding with knowledge of Office tools, Database systems.<br>
                    •	Analytical and Problem Solving skills.<br>
                    •	Strong oral and written English skills.<br>
                    •	Able to manage projects effectively and independently.<br>
                    •	Able to work in a team as team leader or team member.<br>
                    •	Able to effectively communicate with all levels of employees. <br>
                    •	Perform risk analysis for new products and identify Critical To Quality (CTQ) parameters for new development. <br>
                    •	Knowledgeable in Lean manufacturing is an advantage. <br>
                </p>
                <p class="item_bold_job">c.) Four (4) with this qualifications </p>
                <p>
                    •	Bachelor Degree in Industrial Engineering or equivalent course.<br>
                    •	Fresh graduate are welcome.<br>
                    •	Knowledgeable in CAD and able to read and understand full-size drawing is an added advantage.<br>
                    •	Good communication and presentation skill.<br>
                    •	Good computer understanding with knowledge of Office tools, Database systems.<br>
                    •	Analytical and Problem Solving skills.<br>
                    •	Strong oral and written English skills.<br>
                    •	Able to work in a team.<br>
                    •	Able to effectively communicate with all levels of employees. <br>
                    •	Perform risk analysis for new products and identify Critical To Quality (CTQ) parameters for new development. <br>
                    •	Knowledgeable in Lean manufacturing is an advantage. <br>
                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="VN003">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a>ERP Developer</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Responsibilities:</p>
                 <p>
                    •	Developer support for all in-house applications, ERP-based and not.<br>
                    •	ERP Syteline developer & report writer.<br>
                    •	Maintains and monitors all scheduled system tasks and build ad-hoc reports.<br>
                    •	On-call remote supporter for TAUS.<br>
                 </p>
                <p class="item_bold_job">Requirements:</p>
                 <p>
                    •	Experience:
                    <span class="txt_index_job"> -	2+ years</span> <br>
                    <span class="txt_index_job"> -	.Net (VB/C#/ASP.Net).</span><br>
                    <span class="txt_index_job"> -	 SQL server (T-SQL, Store procedure, Cursor).</span><br>
                    <span class="txt_index_job">-	Crystal report.</span><br>
                    <span class="txt_index_job">-	DevExpress, C1 Flexgrid.</span><br>
                    •	Knowledge ERP.<br>
                    •	Bachelor degree.<br>
                    •	Good communication in English: Reading, Writing, Speaking.<br>
                    •	Understanding of manufacturing operations, furniture is a plus.<br>
                 </p>
                
                <p>Report to : Head of IT</p>
                <p>Transportation by company van/ bus from Tan Phu Dist., Dist. 12, Dist. 1, Dist. 9, Bien Hoa, Thu Dau Mot</p>
                <p>Salary: negotiable</p>  
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="VN004">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a>Lao Động Phổ Thông</div>
            <div class="content_job_ta">
                <p class="item_bold_job">- Thợ Lắp Ráp.</p>
                <p class="item_bold_job">- Sơn Phun / Hoàn Thiện Màu.</p>
                <p class="item_bold_job">- Công Nhân Bọc Ghế.</p>
                <p class="item_bold_job">- Công Nhân Chà Nhám.</p>
                <p class="item_bold_job">- Lao Động Phổ Thông.</p> 
                <p class="item_bold_job">- Thợ Mộc.</p>  
                
                <table id="customers">
                    <tr>
                        <th style="width: 50%;">Job Descriptions</th>
                        <th style="width: 50%;">Job Requirements</th>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            •  Chuẩn bị nguyên vật liệu<br>
                            •  Kiểm tra bản vẽ<br>
                            •  Kiểm tra routing<br>
                            •  Kiểm tra kích thước chi tiết<br>
                            •  Ráp thử sản phẩm<br>
                            •  Kiểm tra kích thước sản phẩm<br>
                            •  Tháo sản phẩm, Bôi keo và lắp ráp sản phẩm<br>
                            •  Kiểm tra lại kích thước, canh góc sản phẩm<br>
                            •  Lau keo và làm nguội<br>

                        </td>
                        <td style="width: 50%;">
                            •	Sử dụng tốt dụng cụ thợ mộc<br>
                            •	Tối thiểu 1 năm kinh nghiệm thợ mộc<br>
                            •	Biết đọc bản vẽ là một lợi thế<br>
                            •	Chấp nhận là thêm giờ<br>

                        </td>
                        </tr>
                </table> 
                <p></p>
                <p class="item_bold_job">- Thợ Phun Sơn.</p> 
                <table id="customers">
                    <tr>
                        <th style="width: 50%;">Job Descriptions</th>
                        <th style="width: 50%;">Job Requirements</th>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            •	Nhận hàng, kiểm tra trước khi tiến hành phun sơn, chà nhám lại bề mặt sản phẩm nếu cần thiết<br>
                            •	Tiến hành phun sơn<br>
                            •	Phun đáy: Đáy đen phun thường , đáy màu phun theo mẫu<br>
                            •	Bùi nhùi , chà nhám<br>
                            •	Dặm màu<br>
                            •	Phun topcoat<br>
                            •	Lau glazing<br>
                            •	Stain/ touch up<br>


                        </td>
                        <td style="width: 50%;">
                            •	Sử dụng, điều chỉnh tay súng<br>
                            •	Biết cách nhìn màu<br>
                            •	Phân biệt các loại gỗ trước khi phun<br>
                            •	Chọn màu, dung môi trước khi phun<br>
                            •	Tối thiểu 1 năm kinh nghiệm<br>
                            

                        </td>
                        </tr>
                </table> 
                <p></p>
                <p class="item_bold_job">- Thợ Ráp Đồng.</p> 
                <p></p>
                <table id="customers">
                    <tr>
                        <th style="width: 50%;">Job Descriptions</th>
                        <th style="width: 50%;">Job Requirements</th>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            •	Kiểm tra số lượng và chất lượng đồng về <br>
                            •	Dán băng keo<br>
                            •	Đưa máy cắt theo đúng kích thước mã hàng <br>
                            •	Đưa lên kệ phân phối theo từng mã hàng phù hợp<br>
                            •	Lấy tem hàng, nhận component theo BOM<br>
                            •	Vệ sinh đồng, vệ sinh gỗ <br>
                            •	Mài chỉ đồng hay Inox<br>
                            •	Tra keo – chờ khô, lau keo, ráp <br>
                            •	Bắt tay nắm, bắt bản lề <br>
                            •	Đục tay nắm<br>
                            •	Chỉnh sửa<br>
                            •	Giao hàng<br>
                        </td>
                        <td style="width: 50%;">
                            •	Biết sử dụng dụng cụ thợ mộc<br>
                            •	Có kinh nghiệm lắp ráp đồ phụ kiện hoặc đã từng là thợ mộc<br>
                            •	Ưu tiên biết đọc bản vẽ<br>
                        </td>
                        </tr>
                </table> 
                <p></p>
                <p class="item_bold_job">- Đóng Gói</p>
                <table id="customers">
                    <tr>
                        <th style="width: 50%;">Job Descriptions</th>
                        <th style="width: 50%;">Job Requirements</th>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            •	Chuẩn bị kiện gỗ cho ship air hay ship sea <br>
                            •	Chuẩn bị thùng: làm thùng, đo kích thước đúng tiêu chuẩn của WPE đưa ra (dán keo sữa, bắn ghim)<br>
                            •	Khi hàng hóa đến khu vực packing , treo tem QC<br>
                            •	Gói hàng dùng PE foam, xốp 2.5mm và xốp 5mm <br>
                            •	Dùng carton chèn cạnh, góc, theo đúng bản vẽ Phòng WPE đưa ra<br>
                            •	Dùng màng PE Wrapping quấn<br>
                            •	Bỏ vô thùng <br>
                            •	Dán tem label, tem khách hàng , tem nhận dạng mã hàng . <br>
                            
                        </td>
                        <td style="width: 50%;">
                            •	Đã từng làm công việc khu vực đóng gói<br>
                            •	Ưu tiên kinh nghiệm ở công ty gỗ<br>
                            •	Sức khỏe tốt<br>
                            
                        </td>
                        </tr>
                </table> 
                <p></p>
                <p class="item_bold_job">- Thợ vận hành máy CNC</p>
                <table id="customers">
                    <tr>
                        <th style="width: 50%;">Job Descriptions</th>
                        <th style="width: 50%;">Job Requirements</th>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            •	Đọc bản vẽ, routing để tiến hành gia công theo đúng chi tiết <br>
                            •	Chuẩn bị dao cụ, đồ gá nếu có <br>
                            •	Chọn dao, lắp <br>
                            •	Xác lập, điều chỉnh thông số cho phù hợp với chi tiết gia công các loại gỗ <br>
                            •	Thực hiện vận hành gia công chi tiết <br>
                            •	Giám sát, phát hiện và xử lý các sự cố xảy ra trong quá trình vận hành <br>
                        </td>
                        <td style="width: 50%;">
                            •	Tốt nghiệp Trung Cấp trở lên chuyên ngành cơ khí/ kỹ thuật  <br>
                            •	Có kiến thức căn bản về phần mềm autocad và Mastercam <br>
                            •	Có kiến thức cơ bản về CNC (sẽ được đào tạo thêm) <br>
                            •	Có khả năng đọc, giải thích bản vẽ <br>
                            •	Có thể làm việc theo ca <br>
                        </td>
                        </tr>
                </table> 
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="VN005">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a>Infrastructure Engineer</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Description</p>
                <p>
                    •	Cisco networks, all related VPN, router and switch setup and maintenance.<br>
                    •	Report on a daily basis to the IT Directory on the status of ongoing projects.<br>
                    •	Report serious problems of functionality to the IT Directory as soon as they occur.<br>
                    •	To manage, supervise and where necessary directly support all IT&T hardware, software and operating systems within your current site.<br>
                    •	Maintain a fast and reliable network infrastructure. Monitor network bandwidth and traffic for bottlenecks and points of vulnerability.<br>
                    •	Maintain Access Control Lists for all network equipment for maximum security.<br>
                    •	Use network tools to optimize the speed, efficiency and reliability of the LAN and WAN.<br>
                    •	Maintain maximum security for wireless networks.<br>
                    •	Monitor all network equipment for errors in hardware, software and configuration. This should include the daily monitoring of event logs.<br>
                    •	Recommend upgrades of hardware and software to ensure the best security and effectiveness of all systems.<br>
                    •	Ensure all critical systems are backed up, have redundancy and failover where necessary. Avoid single points of failure in all critical systems.
                    •	Maintain network documentation.<br>
                    •	Research new technologies.<br>
                    •	Enforce all IT policies and practices through group policies, monitoring user activity and reporting any digressions to the IT Directory.<br>
                    •	Undertake any other assignments/responsibilities given by your superiors.<br>
                </p>
                <p class="item_bold_job">Requirements</p>
                <p>
                    -	Male/ Female: 30+<br>
                    -	BA/Computer Science Major/ HCM City University of technology.<br>
                    -	Good communication in English: Reading, Writing, Speaking.<br>

                </p>

        
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="VN006">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a>Planning and order processing</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Responsibilities</p>
                <p>
                    •	Assist supervisor to manage OEM information, contract, price check, order confirmation, document signing...etc. <br>
                    •	Information tracking and timeliness management in OEM factory. <br>
                    •	Receive feedbacks from all channels of OEM, and give immediate reply to relevant questions. <br>
                    •	According to order status arrange staff to travel. Complete department coordination and cooperation. <br>

                </p>
                <p class="item_bold_job">Job Requirement </p>
                <p> •	At least 2 years experience in order processing. <br>
                    •	Experience in customer service is a plus.<br>
                    •	Good computer skills, be able to use office with order and price list. <br>
                    •	Good communication and coordination ability. <br>
                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="VN007">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a>Product Engineer</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Responsibilities</p>
                <p>
                    •	Strong independent working ability, familiar with the production process of products, capable of solving the structure of OEM products, judging the use of raw materials, hardware...etc.  <br>
                    •	Sample delivery confirmation and receipt, participate in pilot run testing and solve the problems in the manufacturing process with structure, material and design. Make design changes if necessary. <br>
                    •	Assist to solve structural problems, strength test, hardware confirmation...etc. <br>
                    •	Ability to integrate consistency of process across multiple factories, optimize process, eliminate defects and improve efficiency. <br>
                    •	Support OEM technical and quality problem solving, with ability to inspect goods and ensure on time delivery.<br>

                </p>
                <p class="item_bold_job">Job Requirement</p>
                <p>
                    •	At least 5 years experience in furniture product engineering. <br>
                    •	Good ability to read CAD details and the quality concept, Good Knowledge of product structure. <br>
                    •	Familiar with standard parts and molding process and know outsourcing process. <br>
                    •	Be able to assess product price according to BOM. <br>
                    •	Good communication and coordination ability. Be able to support outsourcing suppliers to carry out structural problem and modification. <br>
                    •	Good computer skills, be able to use Auto CAD and other drawing software. <br>
                    •	Ability to communicate in two or more languages (Vietnamese/English/Chinese).<br>

                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="VN008">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a>QC / QA</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Responsibilities</p>
                <p>
                    •	Support supervisor to check OEM factories, process evaluation and technical assistance, judge and confirm OEM quality system. <br>
                    •	Confirm the feasibility of raw materials, auxiliary materials (hardware, fabric, glass and marble...etc.) <br>
                    •	Participate in the sample building process, propose non-conforming quality items in the process, report to OEM and follow up the improvement. <br>
                    •	Responsible for analysis and figure out of defective products in OEM manufacturing process, follow the quality improvement. <br>
                    •	Formulate product delivery inspection standard, supervise random inspection and inspection of finished products. <br>
                </p>
                <p class="item_bold_job">Job Requirement </p>
                <p>
                    •	At least 5 years experience in furniture quality experience, familiar with quality system standard. <br>
                    •	Familiar with furniture production and have a certain understanding of product structure. <br>
                    •	Familiar with standard parts and molding process and know outsourcing process. <br>
                    •	Be able to adjust quality policy according to product price point. <br>
                    •	Good communication and coordination ability. Be able to support outsourcing suppliers in quality identification and delivery quality assurance. <br>
                    •	Good computer skills, be able to use office.<br>
                    •	Ability to communicate in two or more languages (Vietnamese/English/Chinese). <br>

                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="VN009">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a>Sub-con Manager</div>
            <div class="content_job_ta">
               <p class="item_bold_job"> Subcontractor Manager JD</p>
               <p>
                As Subcontract Managers, or Subcontract Administrators, you are responsible for developing and negotiating subcontracts: capability, production timeline; analyzing outsources demand: type of products, quantity & schedule... Distribute orders to suitable adaptability vendors and follow up until orders get delivered to company. Coordinating with related department to get order processing flow as procedure, systemize, timeline control. Using administrative expertise and contract-management skills, Subcontract Manager evaluates performance of employees and monitor supply chain with their company.<br>
               </p>
                <p class="item_bold_job">Day-to-Day Duties</p>
                <p>
                    •	Develop subcontract specifications, terms and conditions, as well as modify, add or delete portions of the subcontract to suit your company or vendors' specifications.<br>
                    •	Confer with staff and vendors, interviews vendors, attends internal meeting about outsourcing demand.  <br>
                    •	Distribute orders as of vendor capability; competitive business term..  <br>
                    •	Coordinate and supervise purchasing clerks to assure POs are aligned with vendor capacity and timeline, MOQ & other agreement.<br>
                    •	Visit vendor to follow up order progress; address issue; communicate, coordinate internal technically dept. get support to solve problem. Assure the flow until delivery.<br>
                    •	Get involved, coordinated for solving any issue after delivering, such as quality issue…Discuss, negotiate with both side to fix problem at the sense of win-win mindset.<br>
                    •	Evaluate vendor performance; fade out bad performing vendors. Discuss, negotiate to get better priority, gain business, and maintain relationship with loyal, good service vendors…<br>

                </p>
                <p class="item_bold_job">Management Expertise</p>
                <p>
                    Subcontract management career require you:<br>
                    •	Have strong observation and communication skills. You must be able to establish and maintain interpersonal relationships, as well as handle complaints, settle disputes and resolve conflicts. <br>
                    •	Must have strong decision-making skills, as well as the ability to organize and prioritize work. <br>
                    •	Need the ability to analyze data and identify the reasons behind specific decisions within subcontracts. <br>
                    •	Be able to monitor the subcontract process, review materials and organize events.<br>

                </p>
                <p class="item_bold_job">Education and Training</p>
                <p>
                    •	Business Administration<br>
                    •	Negotiation skill win- win<br>
                    •	Organizing, structure mind set<br>
                    •	Dynamite, open mind set<br>
                    •	Be firmed, clear on communication, get to the end…<br>
                    •	Scheduling, project management<br>

                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="VN010">
        <div>
            <div class="title-dkut-career"><a routerLink="/tuyen-dung"><i class="bi-backspace"></i></a>Graphic Designer</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Purpose </p>
                <p>
                    •	Design for traditional print and digital media to support the Marketing department including catalogue, brochure, presentation, newsletter, event invitation, advertising.<br>
                    •	Work in collaboration with colleagues across different departments.<br>
                    •	Supporting in image processing.<br>
                    •	Checking Printing media.<br>

                </p>
                <p class="item_bold_job">Requirements</p>
                <p>
                    •	Proficiency in Adobe systems such as In-Design, Illustrator and Photoshop.<br>
                    •	Photo editing / retouching skills.<br>
                    •	Passionate about design with an good eye for detail, typography and layout.<br>
                    •	A conceptual thinker with an aptitude for learning and sharing new skills.<br>
                    •	Creativity, positivity, responsibility.<br>
                    •	Teamwork and good communication skills.<br>
                    •	Basic English.<br>
                    •	Hand Sketch, water painting, any other sketch or painting technique (will be Plus Point)<br>

                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN001">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a>WORKERS</div>
            <div class="content_job_ta">
                <p>- Unskilled Worker.</p>
                <p>- Sprayer Paint / Color Finishing.</p>
                <p>- Upholstery worker.</p>
                <p>- Sanding Worker.</p>
                <p>- Fitting Worker</p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN002">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a> INDUSTRIAL ENGINEER</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Description:</p>
                <p>
                    •	Learn product requirements and ensure that they are met. <br>
                    •	Solve production problems that arise within an organization.<br>
                    •	Develop control systems that help in analysis of costs and planning of finances.<br>
                    •	Develop cost efficient processes.<br>
                    •	Monitor the general flow of operations.<br>
                    •	Establish programs of work measurement in order to guarantee fulfillment of targets and deadlines.<br>
                    •	Determine how best to use the work force to achieve maximum productivity.<br>
                    •	Give recommendations on how to improve productivity.<br>
                    •	Communicate with the staff and management on ways of implementing plans and recommendations.<br>
                </p>
                <p class="item_bold_job">Requirements:</p>
                <p class="item_bold_job">a.) Two (2) IE with this qualifications</p>
                <p>
                    •	Bachelor Degree in Industrial Engineering or equivalent course.<br>
                    •	At least 5 years working experience in a furniture manufacturing firm.<br>
                    •	Knowledgeable in CAD and able to read and understand full-size drawing is a must.<br>
                    •	Good communication and presentation skill.<br>
                    •	Good computer understanding with knowledge of Office tools, Database systems.<br>
                    •	Analytical and Problem Solving skills.<br>
                    •	Strong oral and written English skills.<br>
                    •	Able to manage projects effectively and independently.<br>
                    •	Able to work in a team as team leader or team member.<br>
                    •	Able to effectively communicate with all levels of employees. <br>
                    •	Perform risk analysis for new products and identify Critical To Quality (CTQ) parameters for new development. <br>
                    •	Knowledgeable in Lean manufacturing is an advantage. <br>
                    •	Knowledgeable in furniture processes includes time and motion study.<br>
                </p> 
                <p class="item_bold_job">b.) Four (4) IE with qualifications </p>
                <p>
                    •	Bachelor Degree in Industrial Engineering or equivalent course.<br>
                    •	At least 3 years working experience in any field.<br>
                    •	Knowledgeable in CAD and able to read and understand full-size drawing is a must.<br>
                    •	Good communication and presentation skill.<br>
                    •	Good computer understanding with knowledge of Office tools, Database systems.<br>
                    •	Analytical and Problem Solving skills.<br>
                    •	Strong oral and written English skills.<br>
                    •	Able to manage projects effectively and independently.<br>
                    •	Able to work in a team as team leader or team member.<br>
                    •	Able to effectively communicate with all levels of employees. <br>
                    •	Perform risk analysis for new products and identify Critical To Quality (CTQ) parameters for new development. <br>
                    •	Knowledgeable in Lean manufacturing is an advantage. <br>
                </p>
                <p class="item_bold_job">c.) Four (4) with this qualifications </p>
                <p>
                    •	Bachelor Degree in Industrial Engineering or equivalent course.<br>
                    •	Fresh graduate are welcome.<br>
                    •	Knowledgeable in CAD and able to read and understand full-size drawing is an added advantage.<br>
                    •	Good communication and presentation skill.<br>
                    •	Good computer understanding with knowledge of Office tools, Database systems.<br>
                    •	Analytical and Problem Solving skills.<br>
                    •	Strong oral and written English skills.<br>
                    •	Able to work in a team.<br>
                    •	Able to effectively communicate with all levels of employees. <br>
                    •	Perform risk analysis for new products and identify Critical To Quality (CTQ) parameters for new development. <br>
                    •	Knowledgeable in Lean manufacturing is an advantage. <br>
                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN003">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a>ERP Developer</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Responsibilities:</p>
                <p>•	Developer support for all in-house applications, ERP-based and not.</p>
                <p>•	ERP Syteline developer & report writer.</p>
                <p>•	Maintains and monitors all scheduled system tasks and build ad-hoc reports.</p>
                <p>•	On-call remote supporter for TAUS.</p>
                <p class="item_bold_job">Requirements:</p>
                <p>•	Experience:</p>
                <p class="txt_index_job"> -	2+ years</p>
                <p class="txt_index_job"> -	.Net (VB/C#/ASP.Net).</p>
                <p class="txt_index_job"> -	 SQL server (T-SQL, Store procedure, Cursor).</p>
                <p class="txt_index_job">-	Crystal report.</p>
                <p class="txt_index_job">-	DevExpress, C1 Flexgrid.</p>
                <p>•	Knowledge ERP.</p>
                <p>•	Bachelor degree.</p>
                <p>•	Good communication in English: Reading, Writing, Speaking.</p>
                <p>•	Understanding of manufacturing operations, furniture is a plus.</p>
                <p>Report to 	: Head of IT</p>
                <p>Transportation by company van/ bus from Tan Phu Dist., Dist. 12, Dist. 1, Dist. 9, Bien Hoa, Thu Dau Mot</p>
                <p>Salary: negotiable</p>  
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN004">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a>Image processor</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Description</p>
                <p>•	Handling distortion, removing scratched, dirty places (touch up, scale).</p>
                <p>•	Include product images in the template to ensure a reasonable ratio (for consistency).</p>
                <p>•	Remove background from photo (silo version).</p>
                <p>•	Shadow version of the product.</p>
                <p>•	Color editing products according to approved color swatches (color editing).</p>
                <p>•	Draw a picture showing the height ratio of the product to the user based on the product image at the request of the web admin team.</p>
                <p>•	Replace materials: leather, fabric, wood for products that do not have actual goods for customers' reference.</p>
                <p>•	Change product design based on available samples for customers' reference.</p>
                <p>•	Making signs and hanging stamps when required.</p>
                <p>•	Retouch lifestyle image photography</p>
                <p class="item_bold_job"> Requirements:</p>
                <p>•	Graduated from High School / Intermediate / Vocational Certificate in using photo editing software.</p>
                <p>•	Proficient in using photo/graphic editing software (Photoshop, Illustrator).</p>
                <p>•	Meticulous, careful.</p>
                <p>•	Have an understanding of color.</p>
                <p>•	There are many initiatives and solutions to make image processing faster and more efficient</p>
        
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN005">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a>Infrastructure Engineer</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Description</p>
                <p>
                    •	Cisco networks, all related VPN, router and switch setup and maintenance.<br>
                    •	Report on a daily basis to the IT Directory on the status of ongoing projects.<br>
                    •	Report serious problems of functionality to the IT Directory as soon as they occur.<br>
                    •	To manage, supervise and where necessary directly support all IT&T hardware, software and operating systems within your current site.<br>
                    •	Maintain a fast and reliable network infrastructure. Monitor network bandwidth and traffic for bottlenecks and points of vulnerability.<br>
                    •	Maintain Access Control Lists for all network equipment for maximum security.<br>
                    •	Use network tools to optimize the speed, efficiency and reliability of the LAN and WAN.<br>
                    •	Maintain maximum security for wireless networks.<br>
                    •	Monitor all network equipment for errors in hardware, software and configuration. This should include the daily monitoring of event logs.<br>
                    •	Recommend upgrades of hardware and software to ensure the best security and effectiveness of all systems.<br>
                    •	Ensure all critical systems are backed up, have redundancy and failover where necessary. Avoid single points of failure in all critical systems.
                    •	Maintain network documentation.<br>
                    •	Research new technologies.<br>
                    •	Enforce all IT policies and practices through group policies, monitoring user activity and reporting any digressions to the IT Directory.<br>
                    •	Undertake any other assignments/responsibilities given by your superiors.<br>
                </p>
                <p class="item_bold_job">Requirements</p>
                <p>
                    -	Male/ Female: 30+<br>
                    -	BA/Computer Science Major/ HCM City University of technology.<br>
                    -	Good communication in English: Reading, Writing, Speaking.<br>

                </p>

        
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN006">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a>Planning and order processing</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Responsibilities</p>
                <p>
                    •	Assist supervisor to manage OEM information, contract, price check, order confirmation, document signing...etc. <br>
                    •	Information tracking and timeliness management in OEM factory. <br>
                    •	Receive feedbacks from all channels of OEM, and give immediate reply to relevant questions. <br>
                    •	According to order status arrange staff to travel. Complete department coordination and cooperation. <br>

                </p>
                <p class="item_bold_job">Job Requirement </p>
                <p> •	At least 2 years experience in order processing. <br>
                    •	Experience in customer service is a plus.<br>
                    •	Good computer skills, be able to use office with order and price list. <br>
                    •	Good communication and coordination ability. <br>
                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN007">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a>Product Engineer</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Responsibilities</p>
                <p>
                    •	Strong independent working ability, familiar with the production process of products, capable of solving the structure of OEM products, judging the use of raw materials, hardware...etc.  <br>
                    •	Sample delivery confirmation and receipt, participate in pilot run testing and solve the problems in the manufacturing process with structure, material and design. Make design changes if necessary. <br>
                    •	Assist to solve structural problems, strength test, hardware confirmation...etc. <br>
                    •	Ability to integrate consistency of process across multiple factories, optimize process, eliminate defects and improve efficiency. <br>
                    •	Support OEM technical and quality problem solving, with ability to inspect goods and ensure on time delivery.<br>

                </p>
                <p class="item_bold_job">Job Requirement</p>
                <p>
                    •	At least 5 years experience in furniture product engineering. <br>
                    •	Good ability to read CAD details and the quality concept, Good Knowledge of product structure. <br>
                    •	Familiar with standard parts and molding process and know outsourcing process. <br>
                    •	Be able to assess product price according to BOM. <br>
                    •	Good communication and coordination ability. Be able to support outsourcing suppliers to carry out structural problem and modification. <br>
                    •	Good computer skills, be able to use Auto CAD and other drawing software. <br>
                    •	Ability to communicate in two or more languages (Vietnamese/English/Chinese).<br>

                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN008">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a>QC / QA</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Responsibilities</p>
                <p>
                    •	Support supervisor to check OEM factories, process evaluation and technical assistance, judge and confirm OEM quality system. <br>
                    •	Confirm the feasibility of raw materials, auxiliary materials (hardware, fabric, glass and marble...etc.) <br>
                    •	Participate in the sample building process, propose non-conforming quality items in the process, report to OEM and follow up the improvement. <br>
                    •	Responsible for analysis and figure out of defective products in OEM manufacturing process, follow the quality improvement. <br>
                    •	Formulate product delivery inspection standard, supervise random inspection and inspection of finished products. <br>
                </p>
                <p class="item_bold_job">Job Requirement </p>
                <p>
                    •	At least 5 years experience in furniture quality experience, familiar with quality system standard. <br>
                    •	Familiar with furniture production and have a certain understanding of product structure. <br>
                    •	Familiar with standard parts and molding process and know outsourcing process. <br>
                    •	Be able to adjust quality policy according to product price point. <br>
                    •	Good communication and coordination ability. Be able to support outsourcing suppliers in quality identification and delivery quality assurance. <br>
                    •	Good computer skills, be able to use office.<br>
                    •	Ability to communicate in two or more languages (Vietnamese/English/Chinese). <br>

                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN009">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a>Sub-con Manager</div>
            <div class="content_job_ta">
               <p class="item_bold_job"> Subcontractor Manager JD</p>
               <p>
                As Subcontract Managers, or Subcontract Administrators, you are responsible for developing and negotiating subcontracts: capability, production timeline; analyzing outsources demand: type of products, quantity & schedule... Distribute orders to suitable adaptability vendors and follow up until orders get delivered to company. Coordinating with related department to get order processing flow as procedure, systemize, timeline control. Using administrative expertise and contract-management skills, Subcontract Manager evaluates performance of employees and monitor supply chain with their company.<br>
               </p>
                <p class="item_bold_job">Day-to-Day Duties</p>
                <p>
                    •	Develop subcontract specifications, terms and conditions, as well as modify, add or delete portions of the subcontract to suit your company or vendors' specifications.<br>
                    •	Confer with staff and vendors, interviews vendors, attends internal meeting about outsourcing demand.  <br>
                    •	Distribute orders as of vendor capability; competitive business term..  <br>
                    •	Coordinate and supervise purchasing clerks to assure POs are aligned with vendor capacity and timeline, MOQ & other agreement.<br>
                    •	Visit vendor to follow up order progress; address issue; communicate, coordinate internal technically dept. get support to solve problem. Assure the flow until delivery.<br>
                    •	Get involved, coordinated for solving any issue after delivering, such as quality issue…Discuss, negotiate with both side to fix problem at the sense of win-win mindset.<br>
                    •	Evaluate vendor performance; fade out bad performing vendors. Discuss, negotiate to get better priority, gain business, and maintain relationship with loyal, good service vendors…<br>

                </p>
                <p class="item_bold_job">Management Expertise</p>
                <p>
                    Subcontract management career require you:<br>
                    •	Have strong observation and communication skills. You must be able to establish and maintain interpersonal relationships, as well as handle complaints, settle disputes and resolve conflicts. <br>
                    •	Must have strong decision-making skills, as well as the ability to organize and prioritize work. <br>
                    •	Need the ability to analyze data and identify the reasons behind specific decisions within subcontracts. <br>
                    •	Be able to monitor the subcontract process, review materials and organize events.<br>

                </p>
                <p class="item_bold_job">Education and Training</p>
                <p>
                    •	Business Administration<br>
                    •	Negotiation skill win- win<br>
                    •	Organizing, structure mind set<br>
                    •	Dynamite, open mind set<br>
                    •	Be firmed, clear on communication, get to the end…<br>
                    •	Scheduling, project management<br>

                </p>
            </div>
        </div>
    </div>
    <div class="job_detail_ta" *ngIf="EN010">
        <div>
            <div class="title-dkut-career"><a routerLink="/career"><i class="bi-backspace"></i></a>Graphic Designer</div>
            <div class="content_job_ta">
                <p class="item_bold_job">Job Purpose </p>
                <p>
                    •	Design for traditional print and digital media to support the Marketing department including catalogue, brochure, presentation, newsletter, event invitation, advertising.<br>
                    •	Work in collaboration with colleagues across different departments.<br>
                    •	Supporting in image processing.<br>
                    •	Checking Printing media.<br>

                </p>
                <p class="item_bold_job">Requirements</p>
                <p>
                    •	Proficiency in Adobe systems such as In-Design, Illustrator and Photoshop.<br>
                    •	Photo editing / retouching skills.<br>
                    •	Passionate about design with an good eye for detail, typography and layout.<br>
                    •	A conceptual thinker with an aptitude for learning and sharing new skills.<br>
                    •	Creativity, positivity, responsibility.<br>
                    •	Teamwork and good communication skills.<br>
                    •	Basic English.<br>
                    •	Hand Sketch, water painting, any other sketch or painting technique (will be Plus Point)<br>

                </p>
            </div>
        </div>
    </div>
</div>