:host {
    //BEGIN: css to front of header and footer
    position: absolute;
    top: 0;
    background-color: #ffff;
    z-index: 999;
    max-width: 1920px;
    margin: 0 auto;
    left: 0;
    right: 0;
    //END: css to front of header and footer
  }
  .main-section1 .bg-top-career{
    background-image: url("https://theodorealexander.sirv.com/website/Frontend/Live/assests/Career/mis.png") ;
    background-repeat: no-repeat;
    width: 301px;
    height: 488px;
    right: 0;
    position: absolute;
    content: "";
    top: 50px;
  }
    ::ng-deep nz-modal-container .application-form-modal {
      font-family:'Roboto', sans-serif !important;
      font-variant:'Roboto', sans-serif !important;
    }
    ::ng-deep .ant-modal-header{
      padding:0;
    }
  
    html{
      background: #f5f5f5;
    }
    .wrapp-recommend{
      display:flex;
      height: 100vh;
      @media(max-width:1199.98px){
        height: auto;
        flex-direction: column-reverse;
      }
    }
    .left-recommend{
      background-color: #F5F5F5;
      border-right: 1px solid #aaaaaa;
      padding:20px 40px;
      padding-top:50px;
      @media(max-width:1199.98px){
        padding:10px;
        max-width:100%
      }
    }
    .left-recommend h1{
      text-transform: uppercase;
      font-size:  30px;
      font-weight: bold;
      width: 90%;
      @media(max-width:1199.98px){
        width: 100%;
      }
    }
    .left-recommend p {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      color: #212121;
      margin-bottom: 0 !important;
      margin-top: 20px;
    }
  
    .left-recommend span {
      font: size 16px;
      color:#4b4b4b;
      line-height: 30px;
  
    }
    .right-recommend{
      padding-top:50px;
      @media(max-width:1199.98px){
        padding:10px;
        max-width:100%;
  
      }
    }
  
    .ta-career-page{
      background: #f5f5f5;
      font-family:  'Roboto', sans-serif;
      font-style: normal;
      font-size: 16px;
      margin: 0 auto;
      max-width: 1920px;
    }
    .title-dkut-career{
      background: #63CCE5;
      justify-content: start;
      align-items: center;
      display: flex;
      height: 70px;
      margin:0 30px;
      @media (max-width:1199.98px){
        padding:10px;
        margin:0;
  
      }
    }
    .title-dkut-career .icon-back{
      font-size: 20px;
      color:#fff;
      padding-left: 15px;
      @media(max-width:500px){
        padding-left: 0;;
      }
    }
    .title-dkut-career .bi-backspace{
      font-size: 20px;
      color:#fff;
      padding-left: 15px;
      @media(max-width:500px){
        padding-left: 0;;
      }
    }
    .title-dkut-career span{
      font-family:  'Roboto', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
      color: #FFFFFF;  
      padding-left: 10px;   
    }
  
    /*form ung tuyen*/
    .ta-popup-career{
      width:90%; height: 100vh; margin:auto; background-color: white;
      box-shadow:0px 0px 27px 0px #e2e2e2;
      overflow: auto;
      @media (max-width:900px){
        width: 100%;
      }
    }
    .ta-name-career{
      padding: 30px;
      @media (max-width:1199.98px){
        padding:10px
      }
    }
    .ta-name-career input{
      height: 40px;
      border: 1px solid #909090;
      margin-bottom: 10px;
      padding: 5px;
    }
  
    .ta-name-career textarea{
      border: 1px solid #909090;
      margin: 10px 0;
    }
    ::ng-deep nz-modal-container .ant-modal .ant-modal-content .ant-form-item-control-input-content{
      border: none;
    }
    ::ng-deep .ant-btn-primary{
      
      border: none;
      color: #000;
      background: #FFB800;
    }
    .lable-get-info{
      font-family:  'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
    }
    .lable-input-career{
      font-family:  'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      margin: 0;
    }
    .checked-career-ta span{
      font-family:  'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
    }
    ::ng-deep .ant-modal-close-x{
      color: #fff;
    }
    .successfully-apply{
      font-family:  'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      padding: 10px 20px;
      background:#63CCE5 ;
      color: #fff;
      line-height: 30px;
    }
    .content-apply{
      padding: 20px 20px 0px 20px;
      font-family:  'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
    .language-ta{
      display: flex;
      position: absolute;
      margin-top: -65px;
      right: 100px;
      .icon-vn{
        padding-right: 5px;
        opacity: 1;
      }
      .icon-en{
        padding-right: 5px;
        opacity: 0.3;
      }
      @media(max-width:1600px){
        margin-top: -5px;
        right: 10px;
        @media(max-width:900px){
          margin-top: 0px;
          @media(max-width:768px){
            margin-top: 0px;
          }
        }
      } 
    }
  
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
    .submit-btn-career{
      background: #212121;
      color: #fff;
      height: 40px;
      width: 80px;
      border-radius: 5px;
      cursor: pointer;
    }
   .path_input-career{
     display: flex;
     @media(max-width: 550px){
       display: block !important;
     }
   }
   .btn-copy-link{
    color: #212121;
    background-color: rgb(197, 197, 197);
    margin-left: 10px;
    border-radius: 3px; 
    padding:10px;
    font-size: 13px;  
    height: 40px;
    width: 100px;
    text-align: center;
    @media(max-width: 550px){
      margin-left: 0 !important;
    }
   }
   
   .btn-go-back-home{
    border:1px solid #212121;
    font-size:16px;
    padding:10px 20px;
    width:200px;
    margin-top:40px;
    text-align:center;
    color: #212121;
    @media(max-width:500px){
      width:100%;
    }
  }
  .nav_right {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    z-index: 10;
  }
  .button-floating{
    position: relative;
    width: 150px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background: linear-gradient(180deg, #FFB800 0%, #DA9000 100%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
  }
  .button-floating-introduce{
    position: relative;
    width: 150px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background: linear-gradient(180deg, #636363 0%, #000000 100%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
  }
  .nav_right .button-floating span, .nav_right .button-floating-introduce span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
  