<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card card card-default scrollspy">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s10 m10 l10">
                                        <h3 class="card-title"><b>Item <span *ngIf="itemService.listItemDataTransfer">({{itemService.listItemDataTransfer.length}} items)</span></b></h3>
                                    </div>
                                </div>
                                <div class="row">                                   
                                    <div class="col s6 m6 l10">
                                        <input matInput [(ngModel)]="searchString"
                                            placeholder="Search by Product name, SKU, URLCode"
                                            autocomplete="off" (keyup.enter)="onSearch()">
                                    </div>          
                                    <div class="col s6 m6 l2">
                                        <button title="Search" (click)="onSearch()"
                                        class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                            class="material-icons">search</i></button>&nbsp;&nbsp;&nbsp; 
                                        <a title="Update" (click)="onUpdateItemsURLCode()"
                                            class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                class="material-icons">autorenew</i></a>&nbsp;&nbsp;&nbsp;
                                    </div>                         
                                    <div class="KhungOverflow">
                                        <table class="responsive-table">
                                            <thead
                                                style="background-color: #f5f5f5; color: #000000; font-weight: bold;">
                                                <tr>
                                                    <th>No</th> 
                                                    <th>Room</th>  
                                                    <th>Type</th>
                                                    <th>Brand</th>
                                                    <th>Collection</th>                                                 
                                                    <th>SKU</th>
                                                    <th>Name</th>                                                                                                                                                                                                              
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of itemService.listItemDataTransfer; let i = index;">
                                                    <td style="width:20px;">{{i +1 }}</td>   
                                                    <td>{{item.RoomAndUsageName}}</td>
                                                    <td>{{item.TypeName}}</td>
                                                    <td>{{item.BrandName}}</td>
                                                    <td>{{item.CollectionName}}</td>                                                
                                                    <td><b>{{item.SKU}}</b></td>
                                                    <td>{{item.ProductName}}</td>                                                                                                                                                                                                                                                                                                                                             
                                                    <td><a target="_blank" title="View" routerLink="/item-info/{{item.ID}}"
                                                        class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                            class="material-icons">info</i></a></td>  
                                                            <td><a target="_blank" title="Website"
                                                                href="{{website}}{{productDetail}}/{{item.URLCode}}.html"
                                                                class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                                    class="material-icons">public</i></a></td>
                                                </tr>
                                            </tbody>
                                            <tfoot
                                                style="background-color: #f5f5f5; color: #000000; font-weight: bold;">
                                                <tr>
                                                    <th>No</th> 
                                                    <th>Room</th>  
                                                    <th>Type</th>
                                                    <th>Brand</th>
                                                    <th>Collection</th>                                                     
                                                    <th>SKU</th>
                                                    <th>Name</th>                                                                                                                                                                                                             
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="isShowLoading"></app-loading>