
    <tr width="100%" align="left" class="tr-product-email" >
        <td valign="middle" class="td-item-1 item-img" width="28%">
            <a href="[ProductWebLink]"><img style="width:100%;" src="[ProductImageLink]"></a>
        </td>
        <td width="1%">&nbsp;</td>
        <td width="51%" valign="middle" class="td-item-1 item-descrip">
            <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
                <tr width="100%" valign="middle" align="center">
                    <td class="format-item-email" style="text-transform: uppercase; font-size:16px;">
                        <a style="color: #000;" href="[ProductWebLink]">[ProductName]</a>
                    </td>
                </tr>
                <tr align="center">
                    <td class="format-subitem-email">
                        <a style="color: #000;" href="[ProductWebLink]">[ProductSKU]</a>
                    </td>
                </tr>
            </table>
        </td>
        <td width="20%" class="td-item-1 item-btn" align="center">
            <a style="color: #000;" class="item-view-detail" href="[ProductWebLink]">View Details</a>
        </td>
    </tr>

    