.head_about {
    display: flex;
}

.row {
    padding: 0;
    margin: 0;
}

.col-left {
    width: 30%;
    float: left;
}

.col-right {
    width: 70%;
    float: left;
}

@media (max-width: 1199.98px) {
    .col-left {
        width: 100% !important;
    }

    .col-right {
        width: 100% !important;
    }
}

.active_link_router {
    color: #f5f5f5 !important;
    cursor: default;
    opacity: 0.5;
}

.left_top ul li:hover, .left_top ul li a:active, .left_top ul li a.active_link_router:hover {
    color: #fff !important;
}
/**** .breadcrumbs ****/
.breadcrumb_ta {
    background: #f5f5f5;
    font-family: 'HurmeGeometricSans1-Light';
    font-size: 13px;
    padding: 8px 55px;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width: 1199.99px) {
    .breadcrumb_ta {
        padding: 8px 15px;
    }
}

.breadcrumb_ta ul {
    display: flex;
}
/**** /.breadcrumbs ****/
/**** .container ****/
@media (max-width: 1199.98px) {
    .container {
        padding: 0 15px;
    }
}
/**** /.container ****/
.left_top {
    background: #353535;
    position: relative;
    justify-content: center;
    display: flex;
    height: 100%;
}

.right_top img {
    padding: 0;
    display: block;
    max-width: 100%;
    height: 100%;
}

@media (max-width: 1199.98px) {
    .right_top img {
        display: block;
        max-width: 100% !important;
        height: 325px;
    }
}

.col-xl-9, .col-md-12 {
    padding: 0;
    margin: 0;
}

.left_top ul {
    line-height: 40px;
    padding: 50px 0 0 0;
}

@media (max-width: 1199.98px) {
    .left_top {
        justify-content: flex-start;
        padding-left: 60px;
    }

        .left_top ul {
            padding: 30px 0 30px 0;
        }
}

.left_top ul li {
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
    align-items: center;
    list-style-type: square !important;
    border-bottom: 1px solid #535353;
}

    .left_top ul li a {
        color: #fff;
        font-family: "HurmeGeometricSans1-Light";
        font-size: 15px;
        align-items: center;
        list-style-type: square !important;
    }

    .left_top ul li:last-child {
        border-bottom: none;
    }

    .left_top ul li:hover, .left_top ul li a:active, .left_top ul li a:hover {
        color: #eea501;
    }

.about_us {
    font-family: "HurmeGeometricSans1-Light", sans-serif;
    font-size: 15px;
    margin: 0 50px;
}

@media (max-width: 1199.98px) {
    .about_us {
        margin: 0;
    }
}
/*** .about_us_title ***/
.about_us_title {
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    overflow: hidden;
}

.about_us_title-h1 {
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
}

    .about_us_title-h1::before {
        content: "";
        width: 100px;
        height: 1px;
        top: 50%;
        left: -120px;
        background: black;
        position: absolute;
    }

    .about_us_title-h1::after {
        content: "";
        width: 100px;
        height: 1px;
        top: 50%;
        right: -120px;
        background: black;
        position: absolute;
    }

@media (max-width: 1199.98px) {
    .about_us_title {
        padding: 30px 0 20px 0;
    }
}

@media (max-width: 575.98px) {
    .about_us_title-h1::before {
        display: none;
    }

    .about_us_title-h1::after {
        display: none;
    }
}
/*** /.about_us_title ***/
/*** .about_us_content ***/
.about_us_content {
    padding: 0;
}

.about_us_content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 70px;
}

.about_us_content-left-p {
    line-height: 2;
    margin-bottom: 30px;
}

@media (max-width: 1199.98px) {
    .about_us_content-left {
        padding-right: 15px;
    }

    .about_us_content {
        padding: 0;
    }
}

@media (max-width: 1199.98px) {
    .about_us_content-left-p {
        margin-bottom: 10px;
    }
}

@media (max-width: 767.98px) {
    .about_us_content-left-p {
        font-size: 15px;
    }
}

.about_us_content-right-row {
    height: 300px;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.about_us_content-right-img-1 {
    width: calc(60% - 5px);
    margin-right: 5px;
    background: url(/assets/img/AboutUs/AboutUs_1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.about_us_content-right-img-2 {
    width: calc(40% - 5px);
    margin-left: 5px;
    background: url(/assets/img/AboutUs/AboutUs_2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.about_us_content-right-img-3 {
    width: calc(40% - 5px);
    margin-right: 5px;
    background: url(/assets/img/AboutUs/AboutUs_3.jpg) no-repeat;
    background-size: cover;
}

.about_us_content-right-img-4 {
    width: calc(60% - 5px);
    margin-left: 5px;
    background: url(/assets/img/AboutUs/AboutUs_4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 575.98px) {
    .about_us_content-right-row {
        height: 160px;
    }
}
/**** /.about_us_content ****/
/**** .ta_brief ****/
.ta_brief {
    background: #fafafa;
    margin-top: 60px;
    padding-bottom: 60px;
    font-family: "HurmeGeometricSans1-Light", sans-serif;
    font-size: 15px;
}

.ta_brief_header {
    padding: 50px 0;
}

.ta_brief_header-h1 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.ta_brief_left-wrapper {
    margin: 15px -15px 0 0;
}

.ta_brief_left-img {
    padding: 0 20px 20px 0;
    width: 100%;
}

.ta_brief_right-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

.ta_brief_right-li {
    position: relative;
    text-indent: 20px;
    line-height: 32px;
}

    .ta_brief_right-li::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 4px solid #212121;
        position: absolute;
        top: 12px;
        left: 0;
    }

@media (max-width: 1199.98px) {
    .about_us_content-left-p {
        text-align: justify;
        text-align-last: left;
    }

    .ta_brief-wrapper {
        margin: 0;
    }

    .ta_brief_right {
        padding: 0 15px;
    }

    .ta_brief_right-ul {
        align-content: flex-start;
        flex-wrap: nowrap;
        margin-top: 30px;
    }
}

@media (max-width: 767.98px) {
    .ta_brief_header {
        padding: 30px 0;
    }

    .ta_brief_right-li {
        font-size: 15px;
    }
}

@media (max-width: 575.98px) {
    .ta_brief_header-h1 {
        font-size: 24px;
        font-family: "HurmeGeometricSans1-Regular", sans-serif;
    }

    .ta_brief_left-wrapper {
        margin-top: 30px;
    }

    .ta_brief_left-img {
        margin-top: -30px;
        padding: 0 10px 10px 0;
    }
}
/**** /.ta_brief ****/
.format_section1 {
    position: relative;
}

.feature__block--wide {
    position: absolute;
    width: 90%;
    height: 80%;
    bottom: 0;
    right: 0;
}

.left_item {
    position: relative;
}
