.main-contact {
    background: #f5f5f5;
    position: relative;
    padding: 0 100px;
}

.col-right-contact {
    background: #fff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
    width: 80%;
    padding: 40px 60px 80px;
    position: absolute;
}

.bg_contact {
    position: absolute;
    width: 64px;
    height: 542px;
    background: url('https://theodorealexander.sirv.com/website/Frontend/Live/assests/aboutUs/dot-contact.svg') no-repeat;
    right: 140px;
}

.chair-contact {
    position: absolute;
    z-index: 9;
    right: 0;
    top: 310px;
    text-align: right;
}

.article-tile__content {
    padding-bottom: 3.75rem;
    position: relative;
    margin-top: 140px;
}

.article-tile__background {
    display: block;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc((100% / 4) * 2);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}

.img-contact {
    max-width: 100%;
    height: auto;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

.article-tile__image {
    position: relative;
    overflow: hidden;
    display: block;
}

.text-contact {
    right: 140px;
    position: absolute;
    bottom: 220px;
    text-align: center;
}

::ng-deep .contact-form .taDropDown-button {
    border-bottom: 1px solid #000 !important;
    line-height: 37px;
    font-size: 15px;
    padding: 0;
    margin: 0 0 35px 0;
    width: 100%;
    color: #9b9b9b;
}

.contact-form input[type='text'], .contact-form textarea {
    border: none;
    height: 40px;
    border-bottom: 1px solid #000;
    color: #989898;
    width: 100%;
    margin: 0 0 35px 0;
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Light";
}

.icon-arrow_dropdown {
    font-size: 10px;
    position: absolute;
    right: 15px;
    top: 4px;
    color: #636363;
}

.note_contact {
    color: #636363;
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Light";
    padding: 0px 10px 20px;
}

::ng-deep .contact-form button:focus, .contact-form button:active {
    outline: none !important;
    border: none !important;
}

::ng-deep .contact-form .textarea:focus, .contact-form .textarea:active {
    outline: none !important;
}

::ng-deep .contact-form .taDropDown {
    border-bottom: none;
}

.title h1 {
    font-family: 'HurmeGeometricSans1-Light';
    position: relative;
    text-transform: uppercase;
    font-size: 2.2rem;
    display: inline-block;
    padding: 0 15px;
}

@media (max-width: 1199.98px) {
    .title h1 {
        padding: 0 15px;
    }
}

@media (max-width: 1199.98px) {
    .contact-form input[type='text'] {
        margin: 0 0 30px 0;
    }

    .icon-arrow_dropdown {
        right: 5px;
    }
}

.contact-form input[type='submit'] {
    font-size: 20px;
    background: #333;
    width: 25%;
    height: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: none;
    font-family: "HurmeGeometricSans1-Light";
}

.btn {
    font-family: "HurmeGeometricSans1-Light";
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0;
}

.btn-sent {
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    color: #000;
    background-color:#eeeeee;
    padding-top: 8px;
}

    .btn-sent:hover {       
        color: #ffffff;        
    }

@media (max-width: 1199.98px) {
    .btn-sent {
        width: 100%;
    }
}

.info_company {
    margin: 35px 0 0 0;
    padding: 0px 0 60px 50px;
}

@media (max-width: 1199.98px) {
    .note_contact {
        padding: 20px 15px 0;
    }

    .info_company {
        margin: 50px 0 0 0;
        padding: 50px 0;
    }

    .title_info_company {
        margin: 0 0 50px 0;
    }
}

.title_region {
    font-family: 'HurmeGeometricSans1-Regular';
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
}

.info_company ul li {
    font-family: 'HurmeGeometricSans1-Light';
    font-size: 15px;
    padding: 10px 0;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .info_company ul li {
        padding: 0;
    }
}

.info_company ul li.sub_title {
    font-family: 'HurmeGeometricSans1-Regular';
    font-size: 15px;
}

.info_company .item1 {
    padding: 0 20px 30px 0;
}

@media (max-width: 1199.98px) {
    .left_item {
        padding: 0;
    }

    .frm1, .frm2, .frm3, .frm4, .col-xl-4 {
        padding: 0;
    }

    .info_content {
        padding: 50px 15px 0 15px;
    }

    .title h1::before, .title h1::after {
        display: none;
    }
}

.format_section1 {
    position: relative;
}
/* Text field new*/
.form__group {
    position: relative;
    width: 50%;
}

@media (max-width: 1199.98px) {
    .form__group {
        width: 100%;
    }
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

    .form__field::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
        font-size: 15px;
        cursor: text;
        top: 10px;
    }

.form__label {
    position: absolute;
    top: -20px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-image-slice: 1;
}

    .form__field:focus ~ .form__label {
        position: absolute;
        top: -20px;
        display: block;
        transition: 0.2s;
        font-size: 15px;
        color: #eea501;
        font-weight: 700;
    }

.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.img-ta-contact {
    margin-left: 50px;
    max-width: 100%;
    height: auto;
}

.chair-contact-form {
    height: auto;
    max-width: 100%;
}

.img-text-open-door {
    height: auto;
    max-width: 100%;
}

.line-connect-contact {
    content: " ";
    width: 1px;
    height: 140px;
    background-color: #a7a7a7;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 49%;
    margin-top: -70px;
    z-index: 10;
}

.icon-social-contact {
    margin-top: 20px;
}

    .icon-social-contact ul {
        display: flex;
    }

        .icon-social-contact ul li {
            margin-right: 10px;
        }

    .icon-social-contact .bg-icon-social {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #d0d0d0;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

        .icon-social-contact .bg-icon-social:hover {
            background: #000;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .icon-social-contact .bg-icon-social .icon-instagram, .icon-social-contact .bg-icon-social .icon-facebook, .icon-social-contact .bg-icon-social .icon-youtube, .icon-social-contact .bg-icon-social .icon-twitter, .icon-social-contact .bg-icon-social .icon-pinterest2, .icon-social-contact .bg-icon-social .icon-linkedin2 {
            color: #fff;
            font-size: 15px;            
            text-align: center;
        }

@media (max-width: 1800px) {
    .img-ta-contact {
        margin-left: 30px;
    }

    .main-contact {
        padding: 0 50px;
    }

    .bg_contact {
        right: 120px;
    }

    .info_company {
        padding: 0 0 60px 0px;
    }

    .img-text-open-door {
        max-width: 80%;
    }
}

@media (max-width: 1800px) and (max-width: 1600px) {
    .text-contact {
        right: 40px;
    }

    .bg_contact {
        right: 100px;
    }

    .img-ta-contact {
        max-width: 63%;
        margin-left: 50px;
    }
}

@media (max-width: 1800px) and (max-width: 1600px) and (max-width: 1500px) {
    .img-text-open-door {
        max-width: 60%;
    }

    .bg_contact {
        right: 80px;
    }

    .img-ta-contact {
        max-width: 62%;
    }

    .chair-contact-form {
        max-width: 90%;
    }
}

@media (max-width: 1800px) and (max-width: 1600px) and (max-width: 1500px) and (max-width: 1440px) {
    .img-ta-contact {
        max-width: 60%;
        margin-left: 35px;
    }

    .bg_contact {
        right: 80px;
    }

    .chair-contact {
        top: 355px;
    }

    .article-tile__content {
        margin-top: 230px;
    }

    .img-text-open-door {
        max-width: 67%;
    }

    .text-contact {
        right: 67px;
        bottom: 95px;
    }

    .text-open-door {
        max-width: 83%;
    }

    .line-connect-contact {
        margin-top: 45px;
    }
}

@media (max-width: 1800px) and (max-width: 1600px) and (max-width: 1500px) and (max-width: 1440px) and (max-width: 1280px) {
    .chair-contact-form {
        max-width: 80%;
    }

    .bg_contact {
        right: 60px;
    }

    .text-contact {
        right: 0;
        bottom: 130px;
    }

    .img-text-open-door {
        max-width: 65%;
    }

    .line-connect-contact {
        margin-top: 55px;
    }
}

@media (max-width: 1800px) and (max-width: 1600px) and (max-width: 1500px) and (max-width: 1440px) and (max-width: 1280px) and (max-width: 1199.98px) {
    .col-right-contact {
        position: inherit;
        padding: 40px;
    }

    .line-connect-contact {
        display: none;
    }

    .bg_contact {
        right: 100px;
    }

    .main-contact {
        padding: 0;
    }

    .info_company {
        padding: 0;
        margin: 0;
    }

    .article-tile__content {
        margin-top: 60px;
    }

    .img-ta-contact {
        max-width: 100%;
        margin-left: 0;
    }

    .text-contact {
        display: none;
    }
}

@media (max-width: 1800px) and (max-width: 1600px) and (max-width: 1500px) and (max-width: 1440px) and (max-width: 1280px) and (max-width: 1199.98px) and (max-width: 650px) {
    .chair-contact {
        display: none;
    }

    .col-right-contact {
        width: 100%;
    }

    .bg_contact {
        display: none;
    }

    .col-right-contact {
        padding: 30px 10px;
    }

    .note_contact {
        padding: 20px 15px 30px;
    }
}
.breadcrumb_ta {
    background: #f5f5f5;
    font-family: 'HurmeGeometricSans1-Light';
    font-size: 13px;
    padding: 8px 55px;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width: 1199.99px) {
    .breadcrumb_ta {
        padding: 8px 15px;
    }
}

.breadcrumb_ta ul {
    display: flex;
}