.breadcrumb_ta {
    background: #f5f5f5;
    font-family: 'HurmeGeometricSans1-Light';
    font-size: 13px;
    padding: 8px 55px;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width: 1199.99px) {
    .breadcrumb_ta {
        padding: 8px 15px;
    }
}

.breadcrumb_ta ul {
    display: flex;
}

.icon-home {
    font-size: 15px;
    color: #636363;
    text-align: center;
    margin: 0 15px 0 0;
    position: relative;
}
.container {
    padding: 0 50px;
}

.row {
    margin: 0;
}

@media (max-width: 1199.98px) {
    .container {
        padding: 0;
    }
}

@media (max-width: 1199.98px) {
    .productListing_content_filter {
        padding: 0 10px;
    }

    .productListing_swiper {
        max-width: 100%;
        max-height: 100%;
    }
}

.top_info_designer img {
    max-width: 80%;
    height: auto;
}

.top_info_designer {
    padding: 30px 0;
    width: 100%;
    border-bottom: 7px solid #f6f6f6;
    display: flex;
}

@media (max-width: 1199.98px) {
    .top_info_designer {
        position: relative;
        display: block !important;
    }

        .top_info_designer .left_images {
            width: 65%;
            display: block !important;
        }

        .top_info_designer img:nth-child(2) {
            position: absolute;
            max-width: 55% !important;
        }

        .top_info_designer img:nth-child(1) {
            max-width: 65% !important;
        }

        .top_info_designer ._texts {
            width: 100% !important;
            text-align: left !important;
            padding: 10px 20px !important;
        }
}

@media (max-width: 768px) {
    .top_info_designer img:nth-child(2) {
        position: absolute;
        max-width: 55% !important;
    }
}

.top_info_designer .left_images {
    width: 65%;
    height: auto;
    display: flex;
}

.app-content-overflow-scoll {
    overflow-y: unset;
}

@media (min-width: 1441px) and (max-width: 1798px) {
    .top_info_designer .left_images {
        width: 40%;
        height: auto;
    }

    .top_info_designer {
        padding: 15px 0;
        margin: 0;
    }
}

.top_info_designer .left_images img {
    object-fit: scale-down;
    object-position: center;
    font-family: "object-fit: scale-down; object-position: center;";
}

.top_info_designer ._texts {
    padding: 0 50px 0 70px;
    text-align: right;
    width: 35%;
}

    .top_info_designer ._texts h1 {
        font-family: "HurmeGeometricSans1-Regular";
        font-size: 45px;
        text-transform: uppercase;
        padding: 20px 0;
    }

    .top_info_designer ._texts p {
        font-family: "HurmeGeometricSans1-Light";
        font-size: 15px;
        line-height: 2rem;
    }

    .top_info_designer ._texts a {
        font-family: "HurmeGeometricSans1-Light";
        font-size: 15px;
        border-bottom: 1px solid #636363;
        color: #000;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

        .top_info_designer ._texts a:hover {
            color: #eea501;
            border-bottom: 1px solid #eea501;
        }

        .top_info_designer ._texts a > i {
            font-size: 8px;
            margin: 0 0 0 10px;
            color: #212121;
        }

        .top_info_designer ._texts a i:hover {
            color: #eea501;
        }

.line_designer {
    height: 7px;
    width: 100%;
    background-color: #f6f6f6;
}
/******block_info designer***** */
@media (min-width: 1200px) and (max-width: 1440px) {
    .top_info_designer img:nth-child(1) {
        max-width: 40%;
        height: auto;
    }

    .top_info_designer img:nth-child(2) {
        max-width: 60%;
        height: auto;
    }

    .top_info_designer ._texts h1 {
        font-size: 35px;
    }

    .designer_shortDesc {
        line-height: 1.7rem;
    }
}

@media (max-width: 1199.98px) {
    .top_info_designer img:nth-child(1) {
        max-width: 40%;
        height: auto;
    }

    .top_info_designer img:nth-child(2) {
        max-width: 60%;
        height: auto;
    }
    .designer_shortDesc {
        text-align: left !important;
    }
}

@media (max-width: 1024px) {
    /******block_info designer*****/
    .container {
        padding: 0 15px;
    }

    .top_info_designer {
        display: block;
    }

        .top_info_designer img:nth-child(1) {
            max-width: 68%;
            height: auto;
        }

        .top_info_designer img:nth-child(2) {
            max-width: 85%;
            height: auto;
        }

        .top_info_designer ._images {
            width: 100%;
        }

            .top_info_designer ._images img:nth-child(1) {
                max-width: 40%;
            }

            .top_info_designer ._images img:nth-child(2) {
                max-width: 60%;
            }

        .top_info_designer ._texts {
            width: 100%;
            padding: 15px 20px;
            text-align: center;
        }

            .top_info_designer ._texts h1 {
                font-size: 30px;
                padding: 20px 0;
            }

            .top_info_designer ._texts p, .top_info_designer ._texts a {
                font-size: 15px;
                text-align: justify;
                margin-top: 20px;
            }
}

.designer_highlight {
    font-size: x-large;
}

.designer_shortDesc {
    font-family: 'HurmeGeometricSans1-Light';
    font-size: 15px;
    line-height: 2rem;
}
.overlay-design {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.designer_popup_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1199.98px) {
    .overlay-design {
        justify-content: flex-start;
    }
}

.overlay-design .overlay-navigation {
    position: fixed;
    z-index: 50;
    height: 24px;
    top: 24px;
    width: 100%;
    right: 24px;
}

    .overlay-design .overlay-navigation a {
        display: inline-block;
        position: fixed;
        right: 2%;
    }

.overlay-design .wrap-login {
    height: 100vh;
    position: relative;
}

@media (max-width: 1199.98px) {
    .overlay-design {
        padding: 10px 0 40px 0;
    }
}

.main_login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
}

@media (max-width: 1199.98px) {
    .main_login {
        display: block;        
    }
}

.designer_detail_popup-highlight {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}

@media (max-width: 567px) {
    .designer_popup_left {
        padding-top: 20px;
    }
}

.designer_popup_left img {
    max-width: 100%;
    height: auto;
}

.funiture_popup_right {
    padding: 0 40px 0 0;
}

.design-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

@media (max-width: 1199.98px) {
    .design-right {
        padding-right: 0 !important;
    }
}

@media (max-width: 1199.98px) {
    .funiture_popup_right {
        padding: 0;
        text-align: justify;
    }

    .title_popup_funiture_care {
        margin: 50px 0 0 110px !important;
    }

        .title_popup_funiture_care::before {
            left: 15px !important;
            top: 60px !important;
        }

    .title_content_funiture_care {
        padding: 0 !important;
    }
}

.title_popup_funiture_care {
    font-size: 15px;
    color: #000;
    font-family: 'HurmeGeometricSans1-Light';
    margin: 0 0 0 150px;
    padding: 0 0 20px 0;
    margin-left: 120px !important;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .title_popup_funiture_care {
        padding: 0 !important;
    }
}

.title_popup_funiture_care::before {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 10px;
    left: 20px;
}

.title_content_funiture_care {
    font-size: 50px;
    color: #000;
    font-family: 'HurmeGeometricSans1-Regular';
    border-bottom: 1px solid #bcbcbc;
    padding: 0 0 10px 0;
    line-height: 60px;
}

.content_funiture_care {
    font-size: 15px;
    color: #000;
    font-family: 'HurmeGeometricSans1-Light';
    padding: 10px 0;
    line-height: 30px;
}

.sub_content_popup {
    overflow-y: auto;
    height: 500px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 1199.98px) {
    .sub_content_popup {
        overflow-y: hidden;
        height: auto !important;
        padding: 0px 15px;
    }

    .content_funiture_care {
        margin-bottom: 40px;
    }
}

@media (max-width: 1440px) and (min-width: 1200px) {
    .sub_content_popup {
        overflow-y: scroll;
        height: 400px;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
}

.designer_detail_popup-closeButton {
    font-size: 25px;
    position: absolute;
    right: 24px;
    z-index: 999;
    cursor: pointer;
    color: #000;
}

@media (max-width: 1199.98px) {
    .designer_detail_popup-closeButton {
        right: 30px !important;
        position: fixed;
    }
}

@media (min-width: 576px) {
    .modal-dialog-scrollable .modal-content {
        max-height: 100vh !important;
    }
}
 