#OnTopPage {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    height: 45px;
    width: 30px;
    background: #929292;
    text-align: center;
    padding: 5px 0px;
    border-radius: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    bottom: 50px;
    border: 1px solid #929292;
}

@media (max-width: 1199.98px) {
    #OnTopPage {
        bottom: 100px;
    }
}

#OnTopPage:hover {
    border: 1px solid #eea501;
    background: #eea501;
}

#OnTopPage i {
    color: #fff;
    text-align: center;
    display: block;
    line-height: 35px;
    font-size: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

    #OnTopPage i:hover {
        color: #fff;
    }

.button-hidden {
    opacity: 0;
    height: 1px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}
