
.line-top-mobile {
    background: #f5f5f5;
    height: 35px;
    color: #212121;
    text-align: right;
    font-size: 12px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.line-top-mobile .right-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1199.98px) {
    .line-top-mobile .right-login {
        font-size: 12px !important;
    }
}

.line-top-mobile .icon-user {
    margin-right: 7px;
}

.line-top-mobile .icon-heart_outline {
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.line-top-mobile .icon-circle {
    font-size: 3px;
    color: #636363;
    margin-right: 5px;
}

.line-top-mobile .wishlist {
    text-transform: uppercase;
    font-size: 12px;
}

.line-top-mobile .login {
    text-transform: uppercase;
    display: block;
}

.line-top-mobile .register {
    text-transform: uppercase;
    position: relative;
}

.line-top-mobile .right-login i.icon-user {
    margin: 10px 10px 0 0;
    font-size: 13px;
}
.line-top-mobile .left-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-top-mobile span .name {
    text-transform: uppercase !important;
    font-family: "HurmeGeometricSans1-Regular";
    font-weight: bold;
    color: #000;
  }

    .line-top-mobile .right-login span i {
        font-family: "Didot-HTF-M96-Medium";
        font-size: 15px;
        text-transform: uppercase !important;
        margin-right: 7px;
    }

.line-top-mobile .welcome {
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
}

@media (max-width: 1199.98px) {
    .line-top-mobile .welcome {
        font-size: 12px !important;
    }
}

.line-top-mobile .name {
    text-transform: uppercase !important;
    font-family: "HurmeGeometricSans1-Regular";
    font-weight: bold;
    color: #000;
}

.button-cart {
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 5px 0 0 15px;
    width: auto;
}

    .button-cart i {
        font-size: 18px;
    }

    .button-cart span.number {
        background: #eea501;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: block;
        position: absolute;
        text-align: center;
        top: -5px;
        right: -5px;
        color: #fff;
        font-size: 10px !important;
    }

@media (max-width: 450px) {
    .button-cart {
        margin: 5px 0 0 0;
    }
}

.header_mobile {
    padding: 8px 5px;
    box-shadow: 0 6px 5px -3px #efefef;
}

    .header_mobile .logo {
        width: 100%;
    }

        .header_mobile .logo img {
            max-width: 100%;
        }

@media (max-width: 1199.98px) and (min-width: 768px) {
    .header_mobile .logo img {
        max-width: 70%;
    }
}

.header_mobile .buttons {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

@media print {
    .header_mobile .buttons {
        display: none;
    }
}

.header_mobile .buttons .button-cart {
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 0 0 0 5px;
    width: auto;
}

    .header_mobile .buttons .button-cart i {
        font-size: 21px;
    }

    .header_mobile .buttons .button-cart span.number {
        background: #eea501;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: block;
        position: absolute;
        text-align: center;
        top: -5px;
        right: -5px;
        color: #fff;
        font-size: 10px !important;
    }

.header_mobile .buttons .button-search {
    cursor: pointer;
    margin: -3px 0 0 12px;
    margin: 0 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .header_mobile .buttons .button-search i {
        font-size: 20px;
    }

    .header_mobile .buttons .button-search .icon-close {
        font-size: 20px;
        display: flex;
    }

@media (max-width: 1199.98px) and (min-width: 768px) {
    .header_mobile .buttons .button-search i {
        font-size: 25px;
        margin-right: 15px;
    }

    .header_mobile .buttons .button-search .icon-close {
        font-size: 25px;
    }
}

.header_mobile .buttons .button-close-menu {
    margin: 0 0 0 15px;
    cursor: pointer;
}

    .header_mobile .buttons .button-close-menu .icon-close {
        font-size: 18.5px;
        display: flex;
    }

@media (max-width: 1199.98px) and (min-width: 768px) {
    .header_mobile .buttons .button-close-menu .icon-close {
        font-size: 24px;
    }
}

.header_mobile .buttons .button-open-menu {
    margin: 0 0 0 15px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .header_mobile .buttons .button-open-menu .icon-bar {
        width: 34px;
        height: 1px;
        background: #000;
        display: block;
        margin: 0 auto 3px;
    }

@media (max-width: 1199.98px) and (min-width: 768px) {
    .header_mobile .buttons .button-open-menu {
        font-size: 20px;
    }
}

/*Toogle*/
.toogle-top-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toogle-top-header span{
    padding-left: 6px;
    display: flex;
    font-weight: bold;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 14px;
    margin-bottom: 0;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .toogle-mobile-ta {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 9px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.38);
    -webkit-transition: .4s;
    transition: .4s;
  }
  .toogle-mobile-ta:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -8px;
    right: 0px;
    bottom: 4px;
    top: -4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .toogle-mobile-ta {
    background-color: rgba(0, 0, 0, 0.38);
  }
  
  input:focus + .toogle-mobile-ta {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .toogle-mobile-ta:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #000;
  }
  .toogle-mobile-ta.round {
    border-radius: 34px;
  }
  
  .toogle-mobile-ta.round:before {
    border-radius: 50%;
  }
  


