/******Map_Theodore******/
.map_theodore {
    margin: 0 auto;
    align-items: center;
}
.map_theodore .block_content {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.map_theodore .map_item {
    position: relative;
}
.map_theodore .map_item > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
/******main location*****/
.location_head {
    background: #fafafa;
    padding: 30px 0;
}
.location_head .item_search {
    position: relative;
    border: 1px solid #b2b2b2;
    width: 700px;
}
.location_head .item_search input[type="text"] {
    border: none;
    background: #fff;
    height: 45px;
    width: 100%;
    padding: 0 0 0 50px;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
}
.location_head .item_search input[type="submit"] {
    position: absolute;
    right: -4px;
    width: 70px;
    height: 45px;
    border: none;
    background: transparent;
    top: 0;
}
.location_head .item_search i {
    position: absolute;
    left: 14px;
    top: 13px;
    font-size: 20px;
    color: #636363;
}
.location_head .item_search i.icon-close {
    cursor: pointer;
}
.location_head .item_location {
    padding: 0 30px 0 30px;
    text-align: center;
    vertical-align: middle;
    display: inherit;
    align-items: center;
}
.location_head .item_location i {
    font-size: 30px;
    color: #636363;
}
.location_head .item_location span {
    color: #212121;
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Light";
    text-transform: uppercase;
}
.location_head .item_list {
    padding: 0 10px 0 10px;
    text-align: center;
    vertical-align: middle;
    display: inherit;
    align-items: center;
    cursor: pointer;
    line-height: 2.5rem;
}
.location_head .item_list i {
    font-size: 30px;
    color: #636363;
    padding-left: 20px;
}
.location_head .item_list span {
    color: #212121;
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Light";
    text-transform: uppercase;
    padding: 0 0 0 10px;
}
.main_list_location {
    padding: 0;
}
.main_list_location .item_list:first-child {
    padding: 20px 0;
    border-bottom: 1px solid #b2b2b2;
    background: #f5f5f5;
}
.main_list_location .item_list {
    padding: 25px 0;
    border-bottom: 1px solid #f2f2f2;
    text-transform: none;
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Light";
    text-align: left;
    color: #212121;
}
.main_list_location .item_list .title {
    text-transform: uppercase;
    color: #212121;
    font-family: "HurmeGeometricSans1-Regular";
}
.main_list_location .item_list .link_to_map {
    color: #636363;
}
.main_list_location .item_list .item2 {
    width: 30%;
    padding-right: 20px;
}
.main_list_location .item_list .item3 {
    width: 60%;
    color: #000;
    cursor: pointer;
}
.main_list_location .item_list .item1 {
    min-width: 80px;
    width: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #636363;
}
.main_list_location .item_list .item4 {
    width: 15%;
    align-items: center;
    display: inherit;
    color: #636363;
}
.main_list_location .item_list .item1 i {
    font-size: 30px;
    padding: 0 10px 0 0;
    color: #cf0000;
}
.main_list_location .item_list .item1 i.gallery {
    font-size: 30px;
    padding: 0 10px 0 0;
    color: #eea501;
}
.main_list_location .item_list .item4 i {
    font-size: 15px;
    padding: 0 7px 0 0;
    color: #636363;
}
.main_list_location .item_list .link_to_map i {
    font-size: 30px;
    padding: 0 10px 0 0;
    color: #000;
    cursor: pointer;
}
.main_list_location .item_list .item2.showroom {
    text-transform: uppercase;
    font-family: "HurmeGeometricSans1-Regular";
    color: #000;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
}
.main_list_location .item_list .item2.showroom span {
    margin-right: 10px;
}
@media (max-width: 1199.98px) {
    .container {
        padding: 0 15px;
   }
    .block_mobile {
        display: block;
   }
    .block_desktop {
        display: none;
   }
    .location_head {
        display: inline-block;
        width: 100%;
        justify-content: space-around;
   }
    .location_head .item_search {
        width: 100%;
   }
    .location_head .item_location span {
        display: none;
   }
    .location_head .item_list span {
        display: none;
   }
    .location_head .item_location {
        padding: 0 0 0 10px;
   }
    .location_head .item_list {
        padding: 0 0 0 10px;
   }
    .main_list_location .item_list {
        width: 100%;
   }
    .main_list_location .item_list .item1, .main_list_location .item_list .item2, .main_list_location .item_list .item3, .main_list_location .item_list .item4, .main_list_location .item_list .item5 {
        width: 100% !important;
        text-align: left;
        display: flex;
        justify-content: left;
        padding: 5px 0;
   }
    .main_list_location .item_list .item1 {
        margin: 15px 0;
   }
    .main_list_location .item_list .link_to_map {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        display: flex;
        align-items: center;
   }
}
/******(max-width: 1199.98px)******/
.expand-location-search-main {
    display: flex;
    justify-content: center;
}
.row_item_expand_search_location {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-weight: 600;
    font-family: 'HurmeGeometricSans1-Regular';
}
@media (max-width: 1199.98px) {
    .row_item_expand_search_location {
        display: block;
   }
}
.item_mile_km {
    margin-left: 10px;
    color: #a0a0a0;
    font-family: 'HurmeGeometricSans1-Light';
}
@media (max-width: 1199.98px) {
    .item_mile_km {
        margin-left: 0;
   }
}
::ng-deep .dealer-locator-page-component .ant-popover-inner {
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15) \9;
    width: calc(70vw);
    position: relative;
    margin: 0 auto;
}
@media (max-width: 1199.98px) {
    ::ng-deep .dealer-locator-page-component .ant-popover-inner {
        width: calc(100vw);
   }
}
::ng-deep .dealer-locator-page-component .ant-table-thead > tr > th {
    background: #f1f1f1;
}
::ng-deep .dealer-locator-page-component .ant-popover-inner {
    border-radius: 5px;
}
::ng-deep .dealer-locator-page-component .ant-table-thead {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "HurmeGeometricSans1-Regular";
}
::ng-deep .dealer-locator-page-component .ant-table-tbody > tr > td {
    cursor: pointer;
}
::ng-deep .dealer-locator-page-component .ant-table .ant-table-expanded-row-fixed {
    width: 100% !important;
    margin: 0;
    padding: 0;
}
::ng-deep .dealer-locator-page-component .ant-empty-normal {
    margin: 0 auto;
}
@media (max-width: 1199.98px) {
    ::ng-deep .dealer-locator-page-component .nz-table-hide-scrollbar {
        overflow: auto;
   }
}
::ng-deep .dealer-locator-page-component .matched-search-highlight {
    color: #eea501;
    font-weight: 600;
}
::ng-deep .dealer-locator-page-component nz-table .ant-table-header {
    overflow: hidden !important;
}
.btn_expand_search_close {
    display: flex;
    margin: 0 auto;
    border: 1px solid #d5d5d5;
    padding: 3px 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.btn_expand_search_close .icon-close {
    top: 4px;
    left: -7px;
    position: relative;
    font-size: 12px;
}
.store-result {
    display: flex;
}
@media (max-width: 1199.98px) {
    .store-result {
        display: block !important;
        width: 100%;
        line-height: 2.5rem;
   }
}
.ta-store-result {
    display: flex;
    padding: 0 50px;
}
@media (max-width: 1199.98px) {
    .ta-store-result {
        display: block;
        padding: 0 15px;
   }
    .main_list_location .item_list .item2.showroom {
        text-align: left;
   }
    .main_list_location .item_list .link_to_map i {
        font-size: 25px;
   }
    .location_head {
        background: #fafafa;
        padding: 30px 15px;
   }
    .title-store-name {
        color: #00a4f5;
   }
}
