/******block_logo******/
.block_logo {
    padding: 10px 150px;
    background-color: white;
}

.full-header-logo a {
    margin: 0 85px;
    display: block;
}

    .full-header-logo a img {
        background-repeat: no-repeat;
        width: 70%;
        padding: 7px 0 10px 0;
    }

.full-header-logo img {
    display: block;
    margin: 0 auto;
}

.full-header-logo {
    max-width: 1920px;
    margin: 0 auto;
}

.small-header-logo {
    padding: 10px;
    height: 50px;
}

    .small-header-logo img {
        max-width: 45%;
        height: 30px;
    }
