@media (max-width: 1200px) {
    .container {
        padding: 0;
    }
}

.bg-blog {
    background: #f5f5f5;
}

    .bg-blog .col-blog-left {
        width: 75%;
    }

@media (max-width: 1200px) and (min-width: 900px) {
    .bg-blog .col-blog-left {
        width: 70%;
    }
}

@media (max-width: 899.99px) and (min-width: 768px) {
    .bg-blog .col-blog-left {
        width: 60%;
    }
}

@media (max-width: 767.99px) {
    .bg-blog .col-blog-left {
        width: 100%;
    }
}

.bg-blog .col-blog-right {
    width: 25%;
}

@media (max-width: 1200px) and (min-width: 900px) {
    .bg-blog .col-blog-right {
        width: 30%;
    }
}

@media (max-width: 899.99px) and (min-width: 768px) {
    .bg-blog .col-blog-right {
        width: 40%;
    }
}

@media (max-width: 767.99px) {
    .bg-blog .col-blog-right {
        width: 100%;
    }
}

.bg-blog .mg-top-col {
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .bg-blog .mg-top-col {
        margin-top: 0px;
    }
}

.bg-blog .blog-mg-bottom {
    margin-bottom: 20px;
}

.bg-blog .post-mg-top {
    padding: 0 50px;
}

@media (max-width: 1600px) {
    .bg-blog .post-mg-top {
        padding: 0;
    }
}

.pic-blog-top {
    object-fit: cover;
    width: 100%;
}

@media (max-width: 1200px) {
    .pic-blog-top {
        height: 100vh;
    }
}

.right-sidebar-mg {
    margin-bottom: 40px;
}

.post-title {
    padding: 0 6%;
}

.content-main-post-top {
    text-align: center;
    z-index: 999;
    position: absolute;
    bottom: 15px;
    width: 82%;
    left: 0;
}

@media (max-width: 1200px) {
    .content-main-post-top {
        top: auto;
        width: 100%;
        bottom: 20px;
    }
}

.title-detail-post {
    font-size: 3rem;
    text-align: left;
    color: #fff;
    font-family: "HurmeGeometricSans1-Regular";
    text-transform: capitalize;
}

@media (max-width: 1500px) and (min-width: 1200px) {
    .title-detail-post {
        font-size: 2.5rem;
    }
}

@media (max-width: 1199.98px) {
    .title-detail-post {
        font-size: 1.7rem;
    }
}

.short-description-top {
    font-size: 16px;
    color: #fff;
    text-align: left;
    width: 70%;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media (max-width: 767.99px) {
    .short-description-top {
        width: 100%;
    }
}

.post-image {
    padding: 0 7%;
    margin-bottom: 10px;
    max-width: 100%;
    z-index: 99;
}

.post-content {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 7%;
    text-align: justify;
    padding-bottom: 20px;
}

.info-post {
    color: #fff;
    font-size: 16px;
    padding: 0 0 15px 0;
    display: flex;
}

@media (max-width: 768px) {
    .info-post {
        display: none;
    }
}

.info-post .by-post {
    padding-right: 10px;
    border-right: 1px solid #a7a6a6;
    margin-right: 10px;
    font-size: 14px;
    color: #212121;
    text-transform: capitalize;
    display:flex;
}

    .info-post .by-post i {
        font-size: 14px;
        margin-right: 5px;
    }

.info-post .date-post-detail {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #a7a6a6;
    font-size: 14px;
    color: #d4d4d4;
}

    .info-post .date-post-detail i {
        font-size: 14px;
        margin-right: 5px;
    }

.info-post .share-detail {
    font-size: 14px;
    color: #212121;
}

    .info-post .share-detail .icon-facebook, .info-post .share-detail .icon-twitter, .info-post .share-detail .icon-pinterest2 {
        font-size: 16px;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        color: #d4d4d4;
    }

.img-fullsize-top-home-blog {
    width: 100% !important;
    vertical-align: middle;
}

    .img-fullsize-top-home-blog::before {
        content: "";
        position: absolute;
        bottom: 0;
        background: #dadada;
        background: linear-gradient(180deg, rgba(218, 218, 218, 0) 0%, rgba(0, 0, 0, 5) 100%);
        opacity: 0.82;
        color: #fff;
        width: 100%;
        padding: 20px;
        height: 300px;
        z-index: 0;
    }

.img-fullsize-top-detail {
    width: 100% !important;
    vertical-align: middle;
}

    .img-fullsize-top-detail::before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
:host {
    display: flex;
}

    :host i {
        font-size: 14px;
    }

    :host img {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
.post {
    background: #fff;
    width: 96%;
}

@media (max-width: 767.99px) {
    .post {
        width: 100%;
    }
}

.post .post-title {
    padding: 0 3.5%;
}

@media (max-width: 1199.99px) {
    .post .post-title {
        padding: 10px 5%;
    }
}

.post .title-detail-post {
    font-size: 3rem;
    text-align: left;
    color: #000;
    margin-top: 20px;
    font-family: "HurmeGeometricSans1-Regular";
}

@media (max-width: 1500px) and (min-width: 1200px) {
    .post .title-detail-post {
        font-size: 2.5rem;
    }
}

@media (max-width: 1199.99px) {
    .post .title-detail-post {
        font-size: 2rem;
    }
}

.post .post-image {
    margin-top: 15px;
    padding: 0 3.5%;
    margin-bottom: 10px;
    max-width: 100%;
    z-index: 1;
}

@media (max-width: 1199.99px) {
    .post .post-image {
        padding: 10px 5%;
    }
}

.post .post-content {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 3.5%;
    text-align: justify;
    padding-bottom: 20px;
}

@media (max-width: 1199.99px) {
    .post .post-content {
        padding: 10px 5%;
    }
}

.post .info-post {
    color: #292929;
    font-size: 16px;
    padding: 15px 0;
    display: flex;
}

@media (max-width: 768px) {
    .post .info-post {
        display: block;
        text-align: left;
        padding: 0;
    }
}

.post .info-post .by-post {
    padding-right: 10px;
    border-right: 1px solid #e2e2e2;
    margin-right: 10px;
    font-size: 14px;
    font-family: "HurmeGeometricSans1-Regular";
    text-transform: capitalize;
}

    .post .info-post .by-post i {
        font-size: 14px;
    }

.post .info-post .author-day {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post .info-post .date-post-detail {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #e2e2e2;
    font-size: 14px;
    color: #212121;
}

@media (max-width: 768px) {
    .post .info-post .date-post-detail {
        padding: 0;
        border: 0;
        margin: 15px 0;
    }
}

.post .info-post .date-post-detail i {
    font-size: 14px;
    margin-right: 5px;
}

.post .info-post .share-detail {
    font-size: 14px;
}

    .post .info-post .share-detail .icon-facebook, .post .info-post .share-detail .icon-twitter, .post .info-post .share-detail .icon-pinterest2 {
        font-size: 16px;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        color: #636363;
    }

.post  img {
    max-width: 100%;
    margin: 0 auto !important;
    height: auto;
    object-fit: cover;
    display: block;
}

.post .kg-gallery-row {
    display: flex;
}

.post  .kg-gallery-image {
    padding-right: 20px;
}

.post .share-post-detail-bottom {
    padding: 10px 3.5%;
    margin-bottom: 30px;
}

@media (max-width: 1199.99px) {
    .post .share-post-detail-bottom {
        padding: 10px 5%;
    }
}

.post .share-post-detail-bottom .rw-icon-share-bottom {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    padding: 10px 0;
    text-align: center;
}

    .post .share-post-detail-bottom .rw-icon-share-bottom i {
        margin-left: 20px;
        font-size: 16px;
    }

.related_post {
    padding-bottom: 20px;
    width: 96%;
}

    .related_post .pd-related {
        margin: 0;
        padding: 0;
    }

    .related_post .related_post_slider_post {
        margin-right: 20px;
        box-shadow: 0 4px 0 -2px rgba(46, 51, 64, 0.1);
    }

        .related_post .related_post_slider_post:hover {
            box-shadow: 0px 0px 10px 1px #c5c5c5;
        }

    .related_post .related_post_title {
        padding: 40px 0 40px 0;
        display: flex;
        text-transform: uppercase;
    }

    .related_post .related_post_title-h3 {
        position: relative;
        font-size: 25px;
        font-family: "HurmeGeometricSans1-Regular";
        width: 100%;
    }

    .related_post h3::before {
        content: "";
        height: 1px;
        width: 100%;
        top: 45px;
        position: absolute;
        z-index: 0;
        margin: inherit;
        right: 0;
        background: #d8d8d8;
    }

    .related_post h3::after {
        content: "";
        height: 1px;
        width: 18%;
        top: 45px;
        left: 0;
        position: absolute;
        z-index: 0;
        margin: inherit;
        right: 0;
        background: #000;
    }

    .related_post .blog-icon-social-line {
        padding: 10px 20px;
        margin: 10px 0;
    }

    .related_post .list-icon-post {
        border-bottom: 1px solid #e4e4e4;
        border-top: 1px solid #e4e4e4;
        padding: 10px 0;
    }

    .related_post .share-post {
        font-size: 14px;
        color: #939393;
    }

@media (max-width: 1300px) {
    .related_post .share-post {
        font-size: 13px;
    }
}

.related_post .share-post i {
    font-size: 15px;
    margin-left: 10px;
}

@media (max-width: 1300px) {
    .related_post .share-post i {
        font-size: 13px;
    }
}

.related_post .share-post a {
    color: #939393;
}

.related_post .date-post {
    font-size: 14px;
    color: #636363;
}

@media (max-width: 1440px) {
    .related_post .date-post {
        font-size: 13px;
    }
}

.related_post .date-post span {
    margin: 0 0 0 10px;
}

.related_post .btn-more-post {
    text-align: center;
    padding: 2px;
    width: fit-content;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 12px !important;
    color: #000;
}
.blog-right-sidebar {
    background: #fff;
    position: sticky;
    top: 160px;
}

@media (max-width: 1500px) and (min-width: 1200px) {
    .blog-right-sidebar {
        top: 150px;
    }
}

@media (max-width: 1199.99px) and (min-width: 768px) {
    .blog-right-sidebar {
        top: 90px;
    }
}

.blog-right-sidebar .col-left {
    width: 30%;
    padding-left: 15px;
}

    .blog-right-sidebar .col-left img {
        max-width: 100%;
        height: auto;
    }

@media (max-width: 1200px) {
    .blog-right-sidebar .col-left img {
        padding-right: 15px;
        width: 100%;
    }
}

@media (max-width: 1440px) {
    .blog-right-sidebar .col-left {
        width: 40%;
    }
}

@media (max-width: 1200px) {
    .blog-right-sidebar .col-left {
        width: 40%;
    }
}

.blog-right-sidebar .col-right {
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1440px) {
    .blog-right-sidebar .col-right {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    .blog-right-sidebar .col-right {
        width: 60%;
        padding-top: 10px;
    }
}

.blog-right-sidebar .right-title-post {
    font-size: 20px;
    padding: 20px;
    font-family: "HurmeGeometricSans1-Regular";
    text-transform: uppercase;
}

.blog-right-sidebar h3::before {
    content: "";
    height: 1px;
    width: 90%;
    top: 56px;
    left: 15px;
    position: absolute;
    z-index: 0;
    margin: inherit;
    right: 0;
    background: #d8d8d8;
}

.blog-right-sidebar h3::after {
    content: "";
    height: 1px;
    width: 40%;
    top: 56px;
    left: 15px;
    position: absolute;
    z-index: 0;
    margin: inherit;
    right: 0;
    background: #000;
}

.blog-right-sidebar .sidebar-item-blog {
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
}

    .blog-right-sidebar .sidebar-item-blog:hover {
        box-shadow: 0px 0px 10px 1px #ececec;
    }

.blog-right-sidebar .sidebar-title-blog-detail {
    font-family: "HurmeGeometricSans1-Regular";
    font-size: 16px;
    color: #212121;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media (max-width: 1600px) {
    .blog-right-sidebar .sidebar-title-blog-detail {
        -webkit-line-clamp: 2;
    }
}

.blog-right-sidebar .date-blog {
    color: #939393;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 13px;
}

    .blog-right-sidebar .date-blog .sidebar-item-day {
        margin-left: 5px;
    }

.blog-right-sidebar .subcribe {
    padding-bottom: 20px;
}

    .blog-right-sidebar .subcribe .subcribe-blog {
        border: 1px solid #636363;
        margin: 20px 15px;
        text-align: center;
    }

        .blog-right-sidebar .subcribe .subcribe-blog .subcribe-content {
            padding: 20px;
        }

            .blog-right-sidebar .subcribe .subcribe-blog .subcribe-content .icon-subcribe {
                margin-top: 20px;
            }

                .blog-right-sidebar .subcribe .subcribe-blog .subcribe-content .icon-subcribe .icon-email-blog {
                    font-size: 50px;
                }

            .blog-right-sidebar .subcribe .subcribe-blog .subcribe-content .title-subcribe {
                font-size: 25px;
                font-family: 'HurmeGeometricSans1-Regular';
                padding: 20px 0 10px 0;
            }

            .blog-right-sidebar .subcribe .subcribe-blog .subcribe-content .content-subcribe {
                margin-bottom: 20px;
            }

            .blog-right-sidebar .subcribe .subcribe-blog .subcribe-content .btn-subcribe {
                padding: 10px 0;
                width: 90%;
                text-align: center;
                margin: 0 auto;
                margin: 20px auto 40px auto;
                cursor: pointer;
                height: 50px;
            }

            .blog-right-sidebar .subcribe .subcribe-blog .subcribe-content .subcribe-email-input {
                border: none;
                border-bottom: 1px solid #636363;
                font-size: 14px;
                width: 90%;
                margin: 10px 0;
                text-align: center;
            }

.blog-right-sidebar .product-ads {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    padding: 0 15px 20px 15px;
}

    .blog-right-sidebar .product-ads img {
        max-width: 100%;
    }

.related_post {
    padding-bottom: 20px;
    width: 96%;
}

@media (max-width: 1199.99px) {
    .related_post {
        width: 100%;
    }
}

.related_post .pd-related {
    padding-left: 0;
}

@media (max-width: 768px) {
    .related_post .pd-related {
        padding-right: 0;
    }
}

.related_post .related_post_slider_post {
    margin-right: 20px;
}

.related_post .related_post_title {
    padding: 40px 0 40px 0;
    display: flex;
    text-transform: uppercase;
}

@media (max-width: 1199.98px) {
    .related_post .related_post_title {
        padding-left: 15px;
    }
}

.related_post .related_post_title-h3 {
    position: relative;
    font-size: 25px;
    font-family: "HurmeGeometricSans1-Regular";
    width: 100%;
}

.related_post h3::before {
    content: "";
    height: 1px;
    width: 100%;
    top: 45px;
    position: absolute;
    z-index: 0;
    margin: inherit;
    right: 0;
    background: #d8d8d8;
}

.related_post h3::after {
    content: "";
    height: 1px;
    width: 18%;
    top: 45px;
    left: 0;
    position: absolute;
    z-index: 0;
    margin: inherit;
    right: 0;
    background: #000;
}

.related_post .post {
    background: #fff;
    padding: 30px;
}

@media (max-width: 1199.99px) {
    .related_post .post {
        padding: 15px;
    }
}

@media (max-width: 649.99px) {
    .related_post .post {
        margin-bottom: 10px;
    }
}

.related_post .post .post-item-content {
    padding: 0 20px 15px 20px;
}

@media (max-width: 1199.99px) {
    .related_post .post .post-item-content {
        padding: 15px 20px 15px 0;
    }
}

.related_post .post .blog-title-post {
    font-size: 30px;
    font-family: "HurmeGeometricSans1-Regular";
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media (max-width: 1440px) {
    .related_post .post .blog-title-post {
        -webkit-line-clamp: 2;
    }
}

.related_post .post .excerpt-post-related {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 18px;
}

@media (max-width: 1440px) {
    .related_post .post .excerpt-post-related {
        -webkit-line-clamp: 2;
    }
}

.related_post .post .blog-icon-social-line {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    padding: 5px 0;
    margin: 7px 0;
}

.related_post .post .like-post {
    color: #636363;
    font-size: 14px;
}

    .related_post .post .like-post span {
        margin: 0 0 0 10px;
    }

.related_post .post .share-post {
    font-size: 14px;
    color: #636363;
    margin-left: 20px;
}

@media (max-width: 1300px) {
    .related_post .post .share-post {
        font-size: 12px;
    }
}

.related_post .post .share-post i {
    font-size: 15px;
    margin-left: 10px;
}

@media (max-width: 1300px) {
    .related_post .post .share-post i {
        font-size: 13px;
    }
}

.related_post .post .share-post a {
    color: #636363;
}

.related_post .post .date-post {
    font-size: 14px;
    color: #636363;
}

    .related_post .post .date-post span {
        margin: 0 0 0 10px;
    }

@media (max-width: 1440px) {
    .related_post .post .date-post {
        font-size: 13px;
    }
}

.related_post .post .view-post {
    font-size: 14px;
    color: #636363;
}

    .related_post .post .view-post span {
        margin: 0 0 0 10px;
    }

.related_post .post .btn-more-post {
    padding: 2px;
    width: fit-content;
    border-radius: 3px;
    font-size: 12px !important;
    margin-top: 20px;
}

    .related_post .post .btn-more-post a {
        background: #313131;
        padding: 10px 20px;
        color: #fff;
    }

    .related_post .post .btn-more-post button {
        background-color: #212121;
        color: #fff;
        border: none;
        padding: 4px 8px;
    }
 