.slider {
    margin: 0;
    font-family: "HurmeGeometricSans1-Light";
    height: 100%;
}

@media (max-width: 1199.98px) {
    .slider {
        margin: 0;
    }
}

.slider_content {
    height: 100%;
}

.slider_content_item-backlight {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.slider:hover .slider_content_item-backlight {
    background: rgba(0, 0, 0, 0);
}

.slider_content_item-image {
    object-fit: cover;
    object-position: center;
    font-family: "object-fit: cover; object-position: center;";
    width: 100%;
    height: 100%;
}

.slider_content_item_caption {
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    z-index: 5;
}

.slider_content_item_caption-title {
    font-family: HurmeGeometricSans1-Light;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}

    .slider_content_item_caption-title h1 {
        color: #fff;
    }

.slider_content_item_caption-subtitle {
    font-family: HurmeGeometricSans1-Light;
    font-size: 18px;
    color: #fff;
    padding: 5px 100px;
}

.slider_content_item_caption-subtitle_1 {
    font-family: HurmeGeometricSans1-Light;
    font-size: 50px;
    color: #fff;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

@media (max-width: 1199.98px) {
    .slider_content_item_caption-subtitle_1 {
        font-size: 30px;
    }
}


@media (max-width: 1199.98px) {
    .slider_content_item_caption-title {
        font-size: 20px;
        color: #fff;
        font-family: HurmeGeometricSans1-Light;
    }

    .slider_content_item_caption-subtitle {
        font-family: HurmeGeometricSans1-Light;
        color: #fff;
        margin: 0 auto;
        text-transform: none;
        font-size: 18px;
        padding: 10px 15px;
    }
}

@media (max-width: 1199.98px) and (min-width: 1000px) {
    .slider_content_item_caption-subtitle {
        padding: 10px 70px;
    }
}

.slider_content_item_caption-text {
    font-family: HurmeGeometricSans1-Light;
    font-size: 15px;
    color: #fff;
    margin: 0 0 15px;
}

.slider_content_item_caption-button {
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding: 10px 20px;
    width: 170px;
    border: 1px solid #fff;
    cursor: pointer;
}

    .slider_content_item_caption-button:hover {
        background: #fff !important;
        color: #000 !important;
    }

.bg_tranfarent {
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 135%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 135%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 135%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 135%);
    /* ie10+ */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 135%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0);
    /* ie6-9 */
    opacity: 0.82;
    color: #fff;
    width: 100%;
    height: 240px;
    z-index: 0;
}

.slider_content_item_botton_style_3 {
    border-bottom: 1px solid #fff;
    padding: 0 0 5px 0;
    font-size: 15px;
    color: #fff;
    font-family: 'HurmeGeometricSans1-Thin';
}

._TaGlobalCssSwiper_slider_navigation_right-button, ._TaGlobalCssSwiper_slider_navigation_left-button {
    font-size: 50px;
    text-shadow: 2px 2px 3px #d2d2d2;
    color: #fff;
}

    ._TaGlobalCssSwiper_slider_navigation_right-button:hover, ._TaGlobalCssSwiper_slider_navigation_left-button:hover {
        color: #636363;
        text-shadow: 2px 2px 3px #d2d2d2;
    }

@media (max-width: 1199.98px) {
    ._TaGlobalCssSwiper_slider_navigation_right-button, ._TaGlobalCssSwiper_slider_navigation_left-button {
        font-size: 30px;
    }
}

.img-fullsize-top-home-blog {
    width: 100% !important;
    vertical-align: middle;
}

    .img-fullsize-top-home-blog::before {
        content: "";
        position: absolute;
        bottom: 0;
        background: #dadada;
        background: linear-gradient(180deg, rgba(218, 218, 218, 0) 0%, rgba(0, 0, 0, 5) 100%);
        opacity: 0.82;
        color: #fff;
        width: 100%;
        padding: 20px;
        height: 300px;
        z-index: 0;
    }

.pic-blog-top {
    object-fit: cover;
    width: 100%;
}

@media (max-width: 1200px) {
    .pic-blog-top {
        height: 100vh;
    }
}

.post-title {
    padding: 0 6%;
}

.content-main-post-top {
    text-align: center;
    z-index: 999;
    position: absolute;
    bottom: 15px;
    width: 82%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .content-main-post-top {
        top: auto;
        width: 100%;
        bottom: 20px;
    }
}

.title-detail-post {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    text-transform: uppercase;
}

@media (max-width: 1700px) {
    .title-detail-post {
        font-size: 2.0rem;
    }
}

@media (max-width: 1199.98px) {
    .title-detail-post {
        font-size: 1.7rem;
    }
}

.short-description-top {
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 99%;
    margin: 10px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

@media (max-width: 767.99px) {
    .short-description-top {
        width: 100%;
    }
}

.info-post {
    color: #fff;
    font-size: 16px;
    padding: 0 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .info-post {
        display: none;
    }
}

.info-post .by-post {
    padding-right: 10px;
    border-right: 1px solid #a7a6a6;
    margin-right: 10px;
    font-size: 14px;
    color: #d4d4d4;
    text-transform: capitalize;
}

    .info-post .by-post i {
        font-size: 14px;
        margin-right: 5px;
    }

.info-post .date-post-detail {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #a7a6a6;
    font-size: 14px;
    color: #d4d4d4;
}

    .info-post .date-post-detail i {
        font-size: 14px;
        margin-right: 5px;
    }

.info-post .share-detail {
    font-size: 14px;
    color: #d4d4d4;
}

    .info-post .share-detail .icon-facebook, .info-post .share-detail .icon-twitter, .info-post .share-detail .icon-pinterest2 {
        font-size: 16px;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        color: #d4d4d4;
    }

:host {
    display: flex;
}

    :host i {
        font-size: 14px;
    }

    :host img {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
 