.main-content {
    max-width: 1920px;
    margin: 0 auto;
}

:host ::ng-deep mat-progress-bar.mat-progress-bar {
    height: 2px;
}

    :host ::ng-deep mat-progress-bar.mat-progress-bar .mat-progress-bar-primary {
        display: none;
    }

    :host ::ng-deep mat-progress-bar.mat-progress-bar .mat-progress-bar-secondary.mat-progress-bar-fill.mat-progress-bar-element {
        animation-duration: 5000ms;
        left: -85%;
    }

        :host ::ng-deep mat-progress-bar.mat-progress-bar .mat-progress-bar-secondary.mat-progress-bar-fill.mat-progress-bar-element::after {
            animation: none;
        }

:host ::ng-deep .sticky_header {
    position: sticky;
    top: 0;
    z-index: 9;
    width: 100%;
}

@media print {
    app-header-mobile {
        display: none;
    }
}

@media print {
    app-footer {
        display: none;
    }
}

@media print {
    app-go-to-top {
        display: none;
    }
}

.app-content-overflow-scoll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@media print {
    .app-content-overflow-scoll {
        overflow-y: visible;
        position: absolute;
    }
}
.separator {
    height: 50px;
}

.blog-carousel {
    margin: 0;
    font-family: "HurmeGeometricSans1-Thin";
    height: calc(100vh - 150px);
}

@media (max-width: 1199.98px) {
    .blog-carousel {
        margin: 0;
    }
}
 
