.block_subscribe {
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: calc(100vh - 150px);
}

.block_background {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.block_subscribe_social-icons {
    margin-top: 60px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

    .block_subscribe_social-icons i {
        font-size: 40px;
        color: #fff;
        box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.08);
        text-shadow: 2px 1px 31px #fff;
    }

    .block_subscribe_social-icons .block_zoom {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }

        .block_subscribe_social-icons .block_zoom:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
        }

.block_background_subscribe {
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
}

.block_content {
    z-index: 5;
    text-align: center;
    width: 100%;
}

@media (max-width: 1199.98px) {
    .block_background_subscribe .container {
        padding: 0 15px;
    }

    .block_content {
        width: 100%;
    }
}

.block_content ul li {
    margin: 0 100px 0 0;
}

    .block_content ul li:last-child {
        margin: 0;
    }

@media (max-width: 1199.98px) {
    .block_content ul li {
        margin: 0 30px 0 0;
    }

    .block_subscribe_social-icons i {
        font-size: 30px;
    }
}

.block_content ul li:last-child {
    margin: 0;
}

.block_content h2 {
    font-family: "HurmeGeometricSans1-Light";
    position: relative;
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    padding: 0 0 20px 0;
}

.block_content p {
    font-family: "HurmeGeometricSans1-Light";
    font-size: 20px;
    color: #fff;
    padding: 0 15px 20px 15px;
}

.title_subcrible {
    font-family: "HurmeGeometricSans1-Light";
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 20px 0;
}
@media (max-width: 1700px) {
    .title_subcrible {
        font-size: 2.0rem;
    }
}

@media (max-width: 1199.98px) {
    .title_subcrible {
        font-size: 1.7rem;
    }
}

@media (max-width: 1199.98px) {
    .block_content p {
        padding: 0 15px 5px 15px;
    }
}

.block_form {
    width: 67%;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1199.98px) {
    .block_form {
        width: 100%;
        padding: 0 15px;
    }
}

.block_form input[type="email"] {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #d2d1d0;
    padding: 0 0 0 20px;
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
}

input:-internal-autofill-selected {
    background-color: transparent !important;
    color: #fff !important;
}

.block_form input[type="email"]::-webkit-input-placeholder {
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
}

.block_form input[type="email"]:-ms-input-placeholder {
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
}

.block_form input[type="email"]::-ms-input-placeholder {
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
}

.block_form input[type="email"]::-webkit-input-placeholder {
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
}

.block_form input[type="email"]::-moz-placeholder {
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
}

.block_form input[type="email"]:-ms-input-placeholder {
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
}

.block_form input[type="email"]::placeholder {
    color: #fff;
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
}

.block_form input[type="submit"] {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    top: 0;
    background-color: transparent;
    z-index: 10;
}

.block_form button {
    color: #fff;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 9;
    border: none;
    outline: none;
    background: none;
}

@media (max-width: 1199.98px) {
    .block_form button {
        right: 35px;
    }
}

.block_form button:focus, .block_form button:active {
    outline: none !important;
    border: none !important;
}

.block_form button > i {
    font-size: 30px;
}

.slider5_brand_item {
    padding: 100px 15px 0 15px;
    opacity: 0.9;
}

@media (max-width: 1440px) {
    .slider5_brand_item {
        padding: 50px 15px 0 15px;
    }
}

.slider5_brand_item img {
    max-width: 100%;
}

@media (max-width: 1199.98px) {
    .slider5_brand_item {
        padding: 40px 15px 0 15px;
    }

    .section_5 {
        top: 19%;
    }

    .slider5_brand_item img {
        max-width: 100%;
        margin: 20px 0 0 0;
    }
}

.section_5 .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
}

.section_5 .alert-danger {
    color: #e30000;
    background-color: #fff;
    opacity: 0.9;
    text-align: left;
}
