.search {
    background: #fff;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #212121;
}

.search span {
    padding: 0 8px 0 0;
    font-size: 15px;
    color: #636363;
    font-family: "HurmeGeometricSans1-Light";
    cursor: pointer;
}

.search.search-open {
    position: absolute;
    left: 0;
    top: 5px;
    height: 30px;
    padding: 0 213px;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .search.search-open {
        padding: 0 75px;
    }
}

@media (max-width: 1199.98px) {
    .search.search-open {
        top: 100px;
        min-height: 75vh;
        left: 0;
        padding: 0;
    }
}

.search_body {
    width: 100%;
    display: flex;
    flex-flow: row;
}

@media (max-width: 1199.98px) {
    .search_body {
        flex-flow: column;
        margin: 0 15px;
        max-width: 100%;
    }
}

.search_body_input {
    flex-grow: 1;
    position: relative;
    max-width: 100%;
}

input.search_body_input {
    color: #636363;
    flex-grow: 1;
    border: none;
    width: 100%;
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Light";
}

@media (max-width: 1199.98px) {
    input.search_body_input {
        border-bottom: 1px solid black;
        position: absolute;
        max-width: 100%;
    }
}

.search .search-mobile {
    position: absolute;
    right: 10px;
    top: -2px;
    font-size: 20px;
}

.search-icon {
    align-items: center;
    font-size: 20px;
    color: #212121;
    cursor: pointer;
    margin: 0 5px;
}

.productFilter_content_tags_tag .icon-close {
    font-size: 10px;
    color: #000;
    font-weight: bold;
}

.search_body_advance {
    min-width: 300px;
    text-align: center;
}

@media (max-width: 1199.98px) {
    .search_body_advance {
        margin-top: 60px;
    }
}

.search_body_advance_text {
    font-size: 15px;
    color: #636363;
}