/*end overide css of accordion*/

#MenuMobile {
    background-color: white;
    position: fixed;
    top: 71px;
    left: 0px;
    z-index: 9999;
    overflow: scroll;
}

@media(max-width:1199.98px) {
    #MenuMobile {
        top: 100px
    }
    @media(max-width:1024px) {
        #MenuMobile {
            top: 95px
        }
        @media(max-width:768px) {
            #MenuMobile {
                top: 80px
            }
            @media(max-width:500px) {
                #MenuMobile {
                    top: 75px
                }
            }
        }
    }
}

.block_menu_item {
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Regular";
    color: #000;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #999;
}

.block_menu_item:hover {
    color: #fff;
    background: #333;
}

.sub_item {
    border-bottom: none;
}

a:not([href]):not([tabindex]).block_menu_item:hover {
    color: #fff;
    background: #333;
}

.ngb-accordion-level1 a:not([href]):not([tabindex]).block_menu_item:hover {
    background-color: inherit;
    color: #eea501;
}

.block_menu_item i {
    font-size: 7px;
    margin: 0 8px 0 0;
    top: -2px;
    position: relative;
}

.block_menu_item_head {
    text-align: left;
    opacity: 0.5;
    padding: 35px 0 0 10px;
}

.block_menu_item_title-text {
    text-transform: uppercase;
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Light";
    line-height: 30px;
}

.item_left_branch {
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
    padding: 5px 0;
    display: flex;
    color: #000;
    align-items: center;
    margin-left: 20px;
}

.block_menu_item_head-selected {
    opacity: 1;
}

.block_menu_item_title {
    /* border-bottom: 1px dashed #dedede; */
    padding: 15px 0 8px 15px;
}

.block_menu_item_title-text-laurent {
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Light";
}

.block_menu_item_content_image-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center';
}

.block_menu_item_content_image-a {
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
    width: 200px;
    line-height: 30px;
    border: 1px solid #fff;
    display: block;
    color: #fff;
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.block_menu_item_content_image-a:hover {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}

i.icon-arrow_menu_mobile:before {
    content: "\e913";
}

.block_menu_mobile_designers li a img {
    margin: 0 10px 0 0;
}

.block_menu_mobile_custom ul {
    border-bottom: 1px dashed #b8b8b8;
    padding: 10px 0;
}

.block_menu_mobile_custom ul:last-child {
    border-bottom: none;
}

.block_menu_mobile_custom ul li a:hover {
    color: #eea501 !important;
    text-decoration: none;
}

.block_menu_mobile_location {
    padding: 20px 0 !important;
}

.block_menu_mobile_location h3,
.block_menu_mobile_location h4 {
    text-align: center;
}

.block_menu_mobile_location h3 {
    font-size: 25px;
    font-family: "HurmeGeometricSans1-Light";
    text-transform: uppercase;
}

.block_menu_mobile_location h4 {
    font-size: 20px;
    font-family: "HurmeGeometricSans1-Light";
    text-decoration: underline;
    text-transform: uppercase;
}


/* Brand 1 */

.block_menu_item_content {
    position: relative;
    margin: 15px 0 0 0;
}

.sub-item-mobile .icon-plus,
.sub-item-mobile .icon-minus {
    padding-right: 10px;
}

.sub-item-mobile {
    font-size: 15px;
    font-family: "HurmeGeometricSans1-Light";
    text-transform: uppercase;
    padding: 5px 5px;
}

.sub-item-mobile ul li a {
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
    padding: 5px 0;
    display: flex;
    color: #000;
    align-items: center;
    text-transform: none;
    padding-left: 25px;
}

#MenuCustomMobile ul li a {
    margin: 10px 0;
    display: flex;
    padding-left: 10px;
}

#MenuAboutUsMobile li a {
    margin: 10px 0;
    display: flex;
    padding-left: 10px;
}

.block_menu_item_content_image-img {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center';
    height: 150px;
}

ul li .block_menu_item_content_button-a {
    font-family: "HurmeGeometricSans1-Light";
    font-size: 15px;
    line-height: 45px;
    border: 1px solid #c5c5c5;
    display: block;
    top: 63%;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    width: 266px;
    background: #fafafa;
}

.block_menu_item_content_button-a:hover {
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}

.icon-arrow_menu_mobile,
.icon-arrow_dropdown {
    font-size: 8px;
    vertical-align: middle;
}

:host ::ng-deep ngb-accordion .card-body .button_about_mobile ul>li>a {
    color: #969696;
}

.brand_icon {
    max-width: 100%;
    padding: 10px 0 0 0;
    object-fit: scale-down;
}

.block_menu_item_title i {
    margin: 0 8px 0 0;
}

.title-custom-menu {
    font-size: 15px;
    padding: 20px 10px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.sub-item-menu-product li {
    padding-left: 23px !important;
}