<form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
    <div class="col s6 m6 l9">
        <h3 class="card-title"><b>Detail: {{marketingResourceDetailService.formData.Name}}</b></h3>
    </div>
    <div class="col s6 m6 l3">
        <button title="Save" type="submit" class="mb-6 btn-floating waves-effect waves-light cyan"><i
                class="material-icons">save</i></button>&nbsp;&nbsp;&nbsp;
        <a title="Close" class="mb-6 btn-floating waves-effect waves-light purple lightrn-1" (click)="onClose()">
            <i class="material-icons">close</i>
        </a>
    </div>
    <input name="ID" [(ngModel)]="marketingResourceDetailService.formData.ID" type="hidden">
    <input name="ParentID" [(ngModel)]="marketingResourceDetailService.formData.ParentID" type="hidden">
    <div class="col s6 m6 l6">
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="Name">Name</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Name" name="Name" [(ngModel)]="marketingResourceDetailService.formData.Name" type="text">
            </div>
        </div>    
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="SortOrder">Sort</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="Sort" name="SortOrder" [(ngModel)]="marketingResourceDetailService.formData.SortOrder" type="text">
            </div>
        </div>    
        <div class="col s4 m4 l4">
            <div class="input-field">
                <label for="URL">URL</label>
            </div>
        </div>
        <div class="col s8 m8 l8">
            <div class="input-field">
                <input placeholder="URL" name="URL" [(ngModel)]="marketingResourceDetailService.formData.URL" type="text">
            </div>
        </div>         
    </div>
    <div class="col s6 m6 l3">
        <div class="col s12 m12 l12">
            <div class="input-field">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" name="Active"
                            [(ngModel)]="marketingResourceDetailService.formData.Active" />
                        <span>Active</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="input-field">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" name="IsUSShow"
                            [(ngModel)]="marketingResourceDetailService.formData.IsUSShow" />
                        <span>US</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="input-field">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" name="IsInternationalShow"
                            [(ngModel)]="marketingResourceDetailService.formData.IsInternationalShow" />
                        <span>International</span>
                    </label>
                </p>
            </div>
        </div>
    </div>   
    <div class="col s6 m6 l3">
        <a href="{{marketingResourceDetailService.formData.URL}}" target="_blank" title="{{marketingResourceDetailService.formData.URL}}">
            <img title="{{marketingResourceDetailService.formData.URL}}" alt="{{marketingResourceDetailService.formData.URL}}" src="{{marketingResourceDetailService.formData.URLThumbnail}}">
        </a>
    </div>
</form>