<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TheodoreAlexanderEntities" connectionString="metadata=res://*/TAEntities.csdl|res://*/TAEntities.ssdl|res://*/TAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TheodoreAlexander_new;persist security info=True;user id=sa;password=Passw0rdTAVM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="QuotationReportEntities" connectionString="metadata=res://*/QuotationDB.Quotation.csdl|res://*/QuotationDB.Quotation.ssdl|res://*/QuotationDB.Quotation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=QuotationReport;user id=sa;password=Passw0rdTAVM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="TA-Environment" value="TA-RELEASE-3.1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WebURL" value="https://www.theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPserver" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Audiences" value="http://api.theodorealexander.com/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Email Settings-->
	<add key="SendEmailApplyVNJobTo" value="hr.recruit@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailFrom" value="no-reply@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailFromTrade" value="no-reply@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ContactUsEmailTo" value="info@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TradeEnquiryEmailTo" value="trade@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RequestQuoteEmailTo" value="onlinequote@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPno-reply" value="no-reply@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailTAsales" value="sales@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="EmailError" value="WebMasters@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="EmailError" value="lvtan2@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ChinaSite" value="http://www.theodorealexander.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FormReceiver" value="debbie@theodorealexander.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WurflDataFilePath" value="~/App_Data/wurfl-latest.zip" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>