<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card card card-default scrollspy">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s10 m10 l10">
                                        <h3 class="card-title"><b>Dealer and Sale</b></h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s4 m4 l2">
                                        Store
                                    </div>
                                    <div class="col s8 m8 l6">
                                        <mat-select class="browser-default"
                                            style="border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid; padding: 10px;"
                                            name="storeIDSearchString" [(ngModel)]="storeIDSearchString"
                                            (selectionChange)="onChangeStore()">
                                            <input (keyup)="onFilterStore($event)">
                                            <mat-option
                                                *ngFor="let item of storeService.list"
                                                [value]="item.ID">
                                                {{item.Name}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="col s4 m4 l4">
                                        <button title="Download excel" (click)="onDownloadExcelFile()"
                                        class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                            class="material-icons">get_app</i></button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="KhungOverflow">
                                        <table class="responsive-table">
                                            <thead
                                                style="background-color: #f5f5f5; color: #000000; font-weight: bold;">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Type</th>
                                                    <th>Country</th>
                                                    <th>Region</th>
                                                    <th>City</th>
                                                    <th>First name</th>
                                                    <th>Last name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of userService.listUserDataTransfer; let i = index;">
                                                    <td style="width:20px;">{{i +1 }}</td>
                                                    <td>{{item.UserTypeName}}</td>
                                                    <td>{{item.CountryName}}</td>
                                                    <td>{{item.RegionName}}</td>
                                                    <td>{{item.CityName}}</td>
                                                    <td>{{item.Firstname}}</td>
                                                    <td>{{item.Lastname}}</td>
                                                    <td>{{item.Email}}</td>
                                                    <td>{{item.Phone}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot
                                                style="background-color: #f5f5f5; color: #000000; font-weight: bold;">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Type</th>
                                                    <th>Country</th>
                                                    <th>Region</th>
                                                    <th>City</th>
                                                    <th>First name</th>
                                                    <th>Last name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="isShowLoading"></app-loading>