<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card card card-default scrollspy">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s10 m10 l10">
                                        <h3 class="card-title"><b>COVID theo nhóm</b></h3>
                                    </div>
                                </div>
                                <div class="row">    
                                    <div class="col s4 m4 l4">    
                                        <mat-select class="browser-default"
                                        style="border-bottom-color: #000000; border-bottom-width: 1px; border-bottom-style: solid; padding-bottom: 25px;"
                                        name="codeManage" [(ngModel)]="codeManage" (selectionChange)="onChangeCodeManage()">
                                        <mat-option *ngFor="let item of hR_CovidService.list" [value]="item.CodeManage">
                                            {{item.Note}}
                                        </mat-option>
                                    </mat-select>   
                                </div>                     
                                    <div class="col s4 m4 l4">
                                        <input matInput [(ngModel)]="searchString" placeholder="Tìm kiếm theo họ tên, điện thoại, NSNV, địa chỉ..."
                                        autocomplete="off" (keyup)="onSearch()">
                                    </div>
                                    <div class="col s4 m4 l2">
                                        <a title="Thêm" (click)="onAdd(0)"
                                            class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                class="material-icons">add</i></a>&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="KhungOverflow">
                                        <table class="responsive-table">
                                            <thead
                                                style="background-color: #f5f5f5; color: #000000; font-weight: bold;">
                                                <tr>
                                                    <th>STT</th>                                                                                                          
                                                    <th>MSNV</th>                                                  
                                                    <th>Họ tên</th>   
                                                    <th>Điện thoại</th>   
                                                    <th>Nhóm</th>
                                                    <th>Loại</th>   
                                                    <th>Xét nghiệm</th>   
                                                    <th>Kết quả</th>   
                                                    <th>Ngày xét nghiệm</th> 
                                                    <th>Cách ly</th>   
                                                    <th></th>   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of hR_CovidService.listDataTransfer; let i = index;">
                                                    <td style="width:20px;">{{i +1 }}</td>                                                    
                                                    <td>{{item.EmployeeCode}}</td>       
                                                    <td>{{item.FullName}}</td>   
                                                    <td>{{item.Phone}}</td>   
                                                    <td>{{item.CodeManage}}</td>   
                                                    <td>{{item.CovidTypeName}}</td>   
                                                    <td>{{item.CovidTestName}}</td>                                               
                                                    <td>{{item.CovidResultName}}</td>  
                                                    <td>{{item.CovidTestDate | date: 'dd/MM/yyyy'}}</td> 
                                                    <td>{{item.CovidLocalName}}</td>  
                                                    <td><a title="View" (click)="onAdd(item.ID)"
                                                        class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                            class="material-icons">info</i></a></td>  
                                                </tr>
                                            </tbody>
                                            <tfoot style="background-color: #f5f5f5; color: #000000; font-weight: bold;">
                                                <tr>
                                                    <th>STT</th>                                                    
                                                    <th>MSNV</th>                                                  
                                                    <th>Họ tên</th>   
                                                    <th>Điện thoại</th>   
                                                    <th>Nhóm</th>
                                                    <th>Loại</th>   
                                                    <th>Xét nghiệm</th>   
                                                    <th>Kết quả</th>   
                                                    <th>Ngày xét nghiệm</th> 
                                                    <th>Cách ly</th>   
                                                    <th></th>   
                                                </tr>
                                            </tfoot>
                                        </table>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="isShowLoading"></app-loading>