<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card card card-default scrollspy">
                            <div class="card-content">
                                <div class="col s6 m6 l9">
                                    <h3 class="card-title"><b>Upload Is Best Seller <span *ngIf="itemService.list">({{itemService.list.length}} items)</span></b></h3>
                                </div>
                                <div class="col s6 m6 l3">
                                </div>
                                <div class="row">
                                    <div class="col s12 m6 l4">                                        
                                        <div class="input-field col s12">
                                            Step 01 (option): Excel file:
                                            <a target="_blank" href="{{itemExcelTemplateURL}}">Download</a>
                                        </div>
                                        <div class="input-field col s12">
                                            Step 02: Select excel file with data:
                                            <input type="file" #uploadItem>
                                        </div>
                                        <div class="input-field col s12">
                                            <button class="btn btn-primary" (click)="onSubmitItem()">Upload</button>
                                        </div>
                                    </div>  
                                    <div class="col s12 m6 l8">       
                                        <div class="KhungOverflow">
                                            <table class="responsive-table">
                                                <thead
                                                    style="background-color: #f5f5f5; color: #000000; font-weight: bold;">
                                                    <tr>
                                                        <th>No</th>                                                        
                                                        <th>SKU</th>
                                                        <th>Name</th>         
                                                        <th>Is Best Seller</th>                                                                
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let item of itemService.list; let i = index;">
                                                        <td style="width:20px;">{{i +1 }}</td>                                                        
                                                        <td><b>{{item.SKU}}</b></td>
                                                        <td>{{item.ProductName}}</td>             
                                                        <td>{{item.IsBestSeller}}</td>                                                                                                                                   
                                                        <td><a target="_blank" title="View"
                                                                routerLink="/item-info/{{item.ID}}"
                                                                class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                                    class="material-icons">info</i></a></td>
                                                        <td><a target="_blank" title="Website"
                                                                        href="{{website}}{{productDetail}}/{{item.URLCode}}.html"
                                                                        class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                                                            class="material-icons">public</i></a></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot
                                                    style="background-color: #f5f5f5; color: #000000; font-weight: bold;">
                                                    <tr>                                                        
                                                        <th>No</th>
                                                        <th>SKU</th>
                                                        <th>Name</th>   
                                                        <th>Is Best Seller</th>                                                                    
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="isShowLoading"></app-loading>