
@page {
    size: auto; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
  }
  
  body {
    margin: 0px; /* this affects the margin on the content before sending to printer */
  }
  
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  .pop-recommend-list{
    padding: 20px 50px;
    font-size: 18px;
    overflow-x: auto;
    @media(max-width:500px){
      padding: 15px;
    }
  }
  .table-list-career{
    padding: 20px 50px;
    overflow-x: auto;
    @media(max-width:500px){
      padding: 15px;
    }
  }
  .border-list-career, .border-list-career td, .border-list-career th {
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    font-size: 15px;
    color: #212121;
  }
  
  .border {
    border-collapse: collapse;
    margin: auto;
  }
  
    .border th {
        text-align: center;
    }
  
    .border td {
        text-align: left;
    }
  
    .border .text {
        text-align: left;
    }
  
    
  
    :host {
      //BEGIN: css to front of header and footer
      position: absolute;
      top: 0;
      background-color: #ffff;
      z-index: 999;
      max-width: 1920px;
      margin: 0 auto;
      left: 0;
      right: 0;
      //END: css to front of header and footer
    }
    .main-section1 .bg-top-career{
      background-image: url("https://theodorealexander.sirv.com/website/Frontend/Live/assests/Career/mis.png") ;
      background-repeat: no-repeat;
      width: 301px;
      height: 488px;
      right: 0;
      position: absolute;
      content: "";
      top: 50px;
    }
      ::ng-deep nz-modal-container .application-form-modal {
        font-family:'Roboto', sans-serif !important;
        font-variant:'Roboto', sans-serif !important;
      }
    
      html{
        background: #f5f5f5;
      }
      .ta-career-page{
        background: #f5f5f5;
        font-family:  'Roboto', sans-serif;
        font-style: normal;
        font-size: 15px;
        margin: 0 auto;
        max-width: 1920px;
      }
      .ta-popup-career{
        width:60%; height: 100vh; margin:auto; background-color: white;
        box-shadow:0px 0px 27px 0px #e2e2e2;
        overflow: auto;
        @media (max-width:900px){
          width: 100%;
        }
      }
    
      