<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DomainName" value="http://codetool.vietuc.com/"/>
    <add key="PageTitle" value="Tập đoàn thủy sản Việt Úc - 0961 502 150 - hrvietuc@vietuc.net - chuyên sản xuất, kinh doanh, kiểm chứng, truy xuất nguồn gốc tôm bố mẹ, tôm giống, tôm thương phẩm, cá tra giống"/>
    <add key="PageDescription" value="Tập đoàn thủy sản Việt Úc - 0961 502 150 - hrvietuc@vietuc.net - chuyên sản xuất, kinh doanh, kiểm chứng, truy xuất nguồn gốc tôm bố mẹ, tôm giống, tôm thương phẩm, cá tra giống"/>
    <add key="OGTitle" value="Tập đoàn thủy sản Việt Úc - 0961 502 150 - hrvietuc@vietuc.net - chuyên sản xuất, kinh doanh, kiểm chứng, truy xuất nguồn gốc tôm bố mẹ, tôm giống, tôm thương phẩm, cá tra giống"/>
    <add key="OGDescription" value="Tập đoàn thủy sản Việt Úc - 0961 502 150 - hrvietuc@vietuc.net - chuyên sản xuất, kinh doanh, kiểm chứng, truy xuất nguồn gốc tôm bố mẹ, tôm giống, tôm thương phẩm, cá tra giống"/>
    <add key="CompanyFullName" value="Tập đoàn Việt Úc"/>
    <add key="LogoWebsite" value="logo.png"/>
    <add key="PageLogin" value="dang-nhap"/>
    <add key="PageAboutUs" value="gioi-thieu"/>
    <add key="PageContactUs" value="lien-he"/>
    <add key="PageAddress" value="Phòng 304, tòa nhà Lancaster, số 22 đường Lê Thánh Tôn, phường Bến Nghé, quận 01, thành phố Hồ Chí Minh"/>
    <add key="PagePhone" value="0937843970"/>
    <add key="PagePhoneDisplay" value="0937 84 39 70"/>
    <add key="PageEmail" value="it@vietuc.com"/>
    <add key="PageFacebook" value="Vietucjobs"/>
    <add key="PageYoutube" value="UC37eVZpBy3gv3Cmoy8-WP8g"/>
    <add key="PageInstagram" value="tapdoanVietUc"/>
    <add key="PageGoogleMap" value="1ryqlxOcYcjLIdnAyneIrx3Aii1DXIZht"/>
    <add key="PageSize" value="1000"/>
    <add key="ItemPageSize" value="100"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="IsMailUsingSSL" value="1"/>
    <add key="IsMailBodyHtml" value="1"/>
    <add key="MasterEmailUser" value="it@vietuc.com"/>
    <add key="MasterEmailPassword" value="@VietUc123"/>
    <add key="MasterEmailDisplay" value="Tập đoàn thủy sản Việt Úc"/>
    <add key="MasterEmailSubject" value="Việt Úc đã nhận đơn hàng"/>
    <add key="URLBlog" value="blog"/>
    <add key="URLBlogs" value="blogs"/>
    <add key="URLSearch" value="search"/>
    <add key="URLEvent" value="event"/>
    <add key="ImageWidth" value="600"/>
    <add key="ImageHeight" value="400"/>
    <add key="YearBegin" value="2019"/>
    <add key="YearEnd" value="2025"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLServerConnectionString" connectionString="Data Source=HOFILESVR\SQL2017;Initial Catalog=VietUc_Task;uid=sa;pwd=Vietuc2020$;Connect Timeout=200000;"/>
    <add name="WEBSYS_SQLServerConnectionString" connectionString="Data Source=HOFILESVR\SQL2017;Initial Catalog=WEBSYS;uid=sa;pwd=Vietuc2020$;Connect Timeout=200000;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" executionTimeout="3600"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Blog" enabled="true">
          <match url="^blog/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="Article.aspx?ArticleCode={R:1}"/>
        </rule>
        <rule name="Blogs" enabled="true">
          <match url="^blogs/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="ArticleCategory.aspx?ArticleCategoryCode={R:1}"/>
        </rule>
        <rule name="ArticleSearch" enabled="true">
          <match url="^search/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="ArticleSearch.aspx?Search={R:1}"/>
        </rule>
        <rule name="RecruitmentEvent" enabled="true">
          <match url="^event/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="FormApplyEvent.aspx?EventID={R:1}"/>
        </rule>
        <rule name="LienHe" enabled="true">
          <match url="^lien-he"/>
          <action type="Rewrite" url="Contact.aspx"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>