<div class="row">
    <div class="col s12">
        <div id="input-fields" class="card card-tabs">
            <form autocomplete="off" class="row" #form="ngForm" (submit)="onSubmit(form)">
                <div class="card-content">
                    <div class="card-title">
                        <div class="row">
                            <div class="col s6 m6 l10">
                                <div class="col s4 m4 l2">
                                    <a title="List" href="javascript:window.open('','_self').close();"
                                        style="padding-top: 3px;"
                                        class="mb-6 btn-floating waves-effect waves-light green darken-1"><i
                                            class="material-icons">arrow_back</i></a>&nbsp;&nbsp;&nbsp;
                                    <button title="Save" type="submit" style="padding-top: 3px;"
                                        class="mb-6 btn-floating waves-effect waves-light cyan"><i
                                            class="material-icons">save</i></button>
                                </div>
                                <div class="col s6 m6 l10">
                                    <h3 class="card-title">Blog Template:
                                        <b>{{sEOBlogTemplateService.formData.Title}}</b></h3>
                                </div>
                            </div>
                            <div class="col s6 m6 l2">
                                <ul class="tabs">
                                    <li class="tab col s12 p-0"><a class="active p-0" href="#ItemInfo">Info</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="ItemInfo">
                        <input name="ID" [(ngModel)]="sEOBlogTemplateService.formData.ID" type="hidden">
                        <div class="row">
                            <div class="col s12 m12 l6">                                
                                <div class="col s6 m6 l4">
                                    <div class="input-field">
                                        <label for="Title">Title</label>
                                    </div>
                                </div>
                                <div class="col s6 m6 l8">
                                    <div class="input-field">
                                        <input placeholder="Title" name="Title"
                                            [(ngModel)]="sEOBlogTemplateService.formData.Title" type="text">
                                    </div>
                                </div>        
                                <div class="col s6 m6 l4">
                                    <div class="input-field">
                                        <label for="Description">Description</label>
                                    </div>
                                </div>
                                <div class="col s6 m6 l8">
                                    <div class="input-field">
                                        <textarea placeholder="Description" name="Description" class="materialize-textarea"
                                            [(ngModel)]="sEOBlogTemplateService.formData.Description" type="text"></textarea>
                                    </div>
                                </div>     
                                <div class="col s12 m12 l12">
                                    <div class="input-field">
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in" name="Active"
                                                    [(ngModel)]="sEOBlogTemplateService.formData.Active" />
                                                <span>Active</span>
                                            </label>
                                        </p>
                                    </div>
                                </div>                                                      
                            </div>
                            <div class="col s12 m12 l6">   
                                <div class="col s6 m6 l4">            
                                    <div class="col s12 m12 l12">
                                        <div class="input-field">
                                            <label for="Image">Image</label>
                                        </div>
                                        <br/>
                                        <br/>                
                                        <input type="file" accept="image/*" (change)="changeImage($event)">
                                        <br/>
                                        <br/> 
                                        <a target="_blank" style="border-color: #000000; border-style: solid; border-width: 1px;" *ngIf="sEOBlogTemplateService.formData.URLImage" title="{{sEOBlogTemplateService.formData.URLImage}}" href="{{sEOBlogTemplateService.formData.URLImage}}"><img width="200px" height="200px" title="{{sEOBlogTemplateService.formData.URLImage}}" alt="{{sEOBlogTemplateService.formData.URLImage}}" src="{{sEOBlogTemplateService.formData.URLImage}}"></a>
                                    </div>
                                </div>                                       
                                
                            </div>                                                  
                        </div>
                    </div>
                </div>
            </form>
        </div>             
    </div>
</div>
<app-loading *ngIf="isShowLoading"></app-loading>